*.pyc
*~
actual.txt
default.txt
schema_diff.log
bin/*
parts/*
develop-eggs/*
src/ututi.egg-info/*
instance/*
data/*
python/*
eggs/*
development.db
tags
TAGS
ID
smsd.log
smsd.pid
.installed.cfg
coverage/*
backup/*
performance.log
.coverage
*.swp
var/log/*
*ututi.mo
