[buildout]
extensions = buildout-versions
extends = versions.cfg
versions = versions
develop = .
          libs/nous_deploy/
parts = ututi fabric tags test omelette test_translations coverage
unzip = true
newest = false
find-links = http://download.zope.org/distribution
             http://pow.lt/eggs

[ututi]
recipe = zc.recipe.egg
eggs=
  PasteScript
  Pylons
  ututi
  nous.mailpost
interpreter = py

[fabric]
recipe = zc.recipe.egg
eggs=
  PasteScript
  fabric
  nous_deploy

[coverage]
recipe = zc.recipe.egg
eggs = coverage
       zope.testrunner
       ${ututi:eggs}

[test_translations]
find-links = http://pow.lt/eggs/
recipe = zc.recipe.egg
eggs = nous.pofilter

[tags]
recipe = z3c.recipe.tag:tags
eggs =
  ututi
  nous_deploy

[test]
recipe = zc.recipe.testrunner
eggs =
  ututi
defaults = ['--exit-with-status', '--tests-pattern', '^f?tests$|^functional$|^test_', '-v']

[omelette]
recipe = collective.recipe.omelette
eggs = ${ututi:eggs}
