/* ututi feature list */
#can_find {
  margin-top: 20px;
  padding-left: 80px;
  background: white url("../images/details/image_door.png") left center no-repeat;
}

#can_do {
  margin-top: 20px;
  padding-left: 80px;
  background: white url("../images/details/image_man.png") left center no-repeat;
}

#ututi_features {
  margin: 20px 0 50px 0;
}

#ututi_features em {
  color: #d45500;
  font-style: normal;
}

/* removing conventional sidebars */
#content .inside {
  margin-right: 350px !important;
}

/* registration block */
.sidebar-block {
  width: 350px;
}

.sidebar-block .btn {
  float: right;
}

.sidebar-block form input.line {
  width: 200px;
  font-size: 0.8em;
  font-weight: normal;
}

/* registration form */
#ututi_join_portlet .rounded-header,
#ututi_join_portlet .rounded-right {
  background: white;
  height: 35px;
  padding: 0;
}

#ututi_join_portlet .rounded-right h3 {
  color: #333;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  height: 25px;
  background: white url("../images/borders/registration_form.png") top center no-repeat;
}

#ututi_join_portlet .content {
  border: 0px;
  background: white url("../images/borders/registration_form.png") center bottom no-repeat;
}

#registration_form .form-field div.input-rounded {
  float: right;
  width: 160px;
  clear: right;
}

#registration_form .form-field .input-rounded input {
  width: 150px;
}

#registration_form .form-field input.submit {
  float: none;
  width: auto;
}

#registration_form .form-field label {
  float: right;
  margin-right: 10px;
}

#registration_form .form-field {
  margin: 0.4em 0;
}
