h1 {
  font-size: 27px;
  font-weight: normal;
}

/* university list */
#university-list {
  margin-top: 30px;
  overflow: hidden;
}

.university_block {
  padding-left: 36px;
  width: 240px;
  float: left;
  font-size: 12px;
  margin-top: 3px;
}

.university_block div.logo {
  float: left;
  margin-left: -36px;
  height: 28px;
  width: 26px;
  vertical-align: middle;
  line-height: 28px;
}

.university_block div.logo img {
  vertical-align: middle;
}

#pager {
  clear: left;
}

#pager.loading,
#sorting.loading {
  background: url("../images/details/icon_progress.gif") right center no-repeat;
}

#teaser_switch {
  text-align: right;
}

#sorting a.active {
  color: #4b4b4b;
}

/* end university list */

/* search */
#frontpage-search {
  margin-top: 15px;
}

/* ututi feature list */
#can_find {
  margin-top: 20px;
  padding-left: 80px;
  background: transparent url("../images/details/image_door.png") left center no-repeat;
}

#can_do {
  margin-top: 20px;
  padding-left: 80px;
  background: transparent url("../images/details/image_man.png") left center no-repeat;
}

#ututi_features {
  margin: 20px 0 50px 0;
}

#ututi_features em {
  color: #d45500;
  font-style: normal;
}

/* removing conventional sidebars */
#content .inside {
  margin-right: 350px !important;
}

/* registration block */
.sidebar-block {
  width: 350px;
}

.sidebar-block .btn {
  float: right;
}

.sidebar-block form .input-line {
  width: 165px;
  font-size: 0.8em;
  font-weight: normal;
}

/* registration form */
#ututi_join_portlet .rounded-header,
#ututi_join_portlet .rounded-right {
  background: white;
  height: 35px;
  padding: 0;
}

#ututi_join_portlet .rounded-right h3 {
  color: #333;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  height: 25px;
  background: white url("../images/borders/registration_form.png") top center no-repeat;
}

#ututi_join_portlet .content {
  border: 0px;
  background: white url("../images/borders/registration_form.png") center bottom no-repeat;
}

#registration_form .form-field div {
  float: right;
  clear: right;
}


#registration_form .form-field input.submit {
  float: none;
  width: auto;
}

#registration_form .form-field label {
  float: right;
  margin-right: 10px;
}

#registration_form .form-field {
  margin: 2px 0;
  height: 24px;
}

#registration_form .error-message {
  float: right;
}

/* end registration form */

/* information block */
#infoblock {
  border-top: 1px solid #ded8d8;
  margin-top: 10px;
  padding-top: 10px;
}

#infoblock #ututi_features {
  float: left;
  width: 300px;
  padding-left: 10px;
  margin-top: 0;
}

#infoblock #can_find {
  margin-top: 0;
  padding-left: 60px;
  background: transparent url("../images/details/fp_image_door.png") left center no-repeat;
}

#infoblock #can_do {
  margin-top: 20px;
  padding-left: 60px;
  background: transparent url("../images/details/fp_image_man.png") left center no-repeat;
}
/* end information block */

/* presentation */
#infoblock .hidden {
  display: none;
}

#presentation {
  width: 260px;
  float: left;
}

#presentation-img {
  cursor: pointer;
}
