table#forum-thread-list {
  margin-top: 15px;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  color: #808080;
}

table#forum-thread-list tr {
  border-bottom: 1px solid #cac5c5;
}


table#forum-thread-list td.subject {
  width: 50%;
}

table#forum-thread-list td.subject a {
  padding-right: 17px;
  color: #1a1a1a;
  font-size: 1.2em;
  background: transparent url("../images/details/arrow.png") right center no-repeat;
}

table#forum-thread-list td.count {
  width: 10%;
  text-align: center;
  font-size: 0.9em;
  border-right: 1px solid #cac5c5;
}

table#forum-thread-list td.author {
  width: 15%;
  padding-left: 5px;
  font-size: 0.9em;
}

table#forum-thread-list td.date {
  width: 25%;
  padding-left: 5px;
  font-size: 0.9em;
  border-right: 1px solid #cac5c5;
}

table#forum-thread-list td.author .profile-link {
  font-size: 0.8em;
  color: #ff7800;
}

table#forum-thread-list td.author .date {
  color: #8c8c8c;
  font-size: 0.8em;
}
