#steps span {
  color: #000;
}

#steps .step .number {
  border: 3px solid #808080;
  padding: 0 5px;
  margin-right: 5px;
}

#steps .step .title {
  margin-right: 10px;
}

#steps .step.active .number {
  border: 3px solid #ff7800;
  color: #ff7800;
  font-weight: bold;
  padding: 0 5px;
  margin-right: 5px;
}

#steps .step.active .title {
  color: #ff7800;
}

#steps {
  margin-bottom: 20px;
}

table.group-invitations td,
table.group-requests td {
  padding: 0.4em;
  border: none;
}

table.group-invitations .date {
  color: #888;
}

table.group-members th {
  color: #888;
}

table.group-members td, th {
  border-bottom: 1px solid #ded8d8;
  padding: 3px 5px;
}

.description {
  font-size: 0.9em;
  color: #888;
}
