#steps span {
  color: #000;
}

#steps .step .number {
  border: 3px solid #808080;
  padding: 0 5px;
  margin-right: 5px;
}

#steps .step .title {
  margin-right: 10px;
}

#steps .step.active .number {
  border: 3px solid #ff7800;
  color: #ff7800;
  font-weight: bold;
  padding: 0 5px;
  margin-right: 5px;
}

#steps .step.active .title {
  color: #ff7800;
}

#steps {
  margin-bottom: 20px;
  margin-top: 10px;
}

table.group-invitations td,
table.group-requests td {
  padding: 0.4em;
  border: none;
}

table.group-invitations .date {
  color: #888;
}

table.group-members th {
  color: #888;
}

table.group-members td,
table.group-members th {
  border-bottom: 1px solid #ded8d8;
  padding: 3px 5px;
}

.description {
  font-size: 0.9em;
  color: #888;
}

/* forum portlet */
#group_latest_messages td {
  margins: 0;
  padding: 0 1px;
  overflow: hidden;
}

#group_latest_messages td.time {
  width: 70px;
  color: #808080;
  font-size: 0.8em;
  padding-left: 15px;
  background: white url("../images/details/icon_message.png") left center no-repeat;
}

#group_latest_messages td.subject a {
  color: #1a1a1a;
}

/* group edit page */
#group-logo {
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}

/* end group edit page */

/* group changes portlet */
ul.event-list {
  padding: 0;
}
ul.event-list li {
  list-style-type: none;
  padding: 0 0 5px 20px;
  background: transparent url("../images/details/icon_event.png") left top no-repeat;
}
/* end group changes portlet */

/* group files portlet */
.delete_button {
  cursor: pointer;
}

#group_files_portlet_content ul {
  padding: 0;
  list-style-type: none;
}

#group_files_portlet_content ul li {
  color: #d45500;
  padding-left: 13px;
  background: transparent url("../images/details/icon_file.png") left center no-repeat;
}

#group_files_portlet_content ul li span {
  color: #b3b3b3;
  padding-left: 10px;
}

/* end group files portlet */

/* misc */
#group_settings_toggle {
  color: #d45500;
  padding-left: 10px;
  background: transparent url("../images/details/icon_expand_down_small.png") left center no-repeat;
  cursor: pointer;
  border-bottom: 1px solid #ded8d8;
  margin-bottom: 5px;
}

#group_settings_block {
  padding-top: 5px;
}
