#steps span {
  color: #303030;
  font-weight: bold;
  font-size: 14px;
}

#steps .step .number {
  margin-right: 3px;
}

#steps .step .title {
  margin-right: 10px;
}

#steps .step.active span {
  color: #d65e0d;
}

#steps {
  margin-bottom: 20px;
  margin-top: 10px;
}

table.group-invitations td,
table.group-requests td {
  padding: 0.4em;
  border: none;
}

table.group-invitations .date {
  color: #888;
}

table.group-members th {
  color: #888;
}

table.group-members td,
table.group-members th {
  border-bottom: 1px solid #ded8d8;
  padding: 3px 5px;
}

.description {
  font-size: 0.9em;
  color: #888;
}

#group_page {
  border: 1px solid #e5e5d3;
  margin: 15px 0;
  padding: 5px;
}

/* forum portlet */
#group_latest_messages td {
  margin: 0;
  padding: 0 1px;
  overflow: hidden;
}

#group_latest_messages td.time {
  width: 70px;
  color: #808080;
  font-size: 0.8em;
  padding-left: 15px;
  background: white url("../images/details/icon_message.png") left center no-repeat;
}

#group_latest_messages td.subject a {
  color: #333333;
}

/* group edit page */
#group-logo {
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}

/* end group edit page */

/* group changes portlet */
ul.event-list {
  padding: 0;
}
ul.event-list li {
  list-style-type: none;
  padding: 0 0 5px 20px;
  background: transparent url("../images/details/icon_event.png") left top no-repeat;
}
/* end group changes portlet */

/* group files portlet */
.restore_button,
.rename_button,
.flag_button,
.delete_button {
  cursor: pointer;
}

#group_files_portlet_content ul {
  padding: 0;
  list-style-type: none;
}

#group_files_portlet_content ul li {
  color: #d45500;
  padding-left: 13px;
  background: transparent url("../images/details/icon_file.png") left center no-repeat;
}

#group_files_portlet_content ul li span {
  color: #b3b3b3;
  padding-left: 10px;
}

/* end group files portlet */

ul#watched-subjects #empty_subjects_msg {
  background-image: url("../images/details/icon_subject_small_inactive.png");
}

#empty_subjects_msg.hidden {
  display: none;
}

/* end misc */

/* group live search */
body.split6040 #sidebar {
  margin-top: 40px;
  border-left: 2px solid #ebe8e8;
  padding-left: 20px;
}

#sidebar div.search-header {
  font-size: 1.2em;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

div.live_search_group {
  height: 70px;
  padding: 2px;
  border: 1px solid #ded8d8;
  clear: left;
  margin-top: 5px;
}

div.live_search_group div.group_logo {
  width: 70px;
  float: left;
  padding-right: 5px;
}

div.live_search_group div.group_logo img {
  margin: 0 auto;
}

div.live_search_group a.group_title {
  font-size: 16px;
}

div.live_search_group div.group_members {
  clear: right;
}

div.live_search_group div.group_member {
  height: 20px;
  width: 160px;
  float: left;
  margin: 0 3px 5px 0;
  line-height: 20px;
}

div.live_search_group div.group_member div.member_logo {
  height: 15px;
  width: 15px;
  float: left;
  margin-right: 5px;
}

div.live_search_group a.btn {
  float: right;
}

#sidebar .message {
  background: #e6e6e6;
  padding: 10px;
}
/* end group live search */

div.orange_emph {
  padding: 10px 0;
}

div.orange_emph em {
  color: #d45500;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
}

/* notification boxes */
.full_box {
  width: 615px;
  padding-top: 5px;
  background: url("../images/borders/gray_box_full.png") left top no-repeat;
  margin: 5px 0;
}

.full_box .wrapper {
  background: url("../images/borders/gray_box_full.png") left bottom no-repeat;
  padding: 0 5px 5px;
}

.full_box h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 3px 0;
}

#invite_more_members .inner {
  padding: 3px 0 0 80px;
  background: url("../images/details/icon_group_members_gray.png") 10px center no-repeat;
}

#watch_more_subjects .inner {
  padding: 3px 0 0 80px;
  background: url("../images/details/icon_subject_gray.png") 10px center no-repeat;
}

