fieldset {
  margin-right: 40px;
}

legend {
  font-size: 1.8em;
  margin: 0.4em 0;
}

input.selected {
  background: #ffd0a1;
}

form {
  margin: 5px;
}

#school-search, #faculty-search {
  margin-bottom: 5px;
  color: #808080;
}

#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  top: 66px;
  left: 240px;
}

#add-group {
  padding-left: 85px;
  background: white url("../images/group_ico.png") left top no-repeat;
  margin: 20px;
}

#browse-subjects {
  padding-left: 85px;
  background: white url("../images/subject_ico.png") left top no-repeat;
  margin: 20px;
}

#edit-profile {
  padding-left: 85px;
  height: 50px;
  background: white url("../images/user_ico.png") left top no-repeat;
  margin: 40px 20px;
}
