#year-input {
  width: 80px;
  padding-left: 20px;
  background: white url("../images/details/arrow.png") left bottom no-repeat;
}

#year-input div,
#year-input input {
  width: 80px;
}

input.selected {
  background: #ffd0a1;
}

form {
  margin: 5px;
}

#school-search, #faculty-search {
  margin-bottom: 5px;
  color: #808080;
}

#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  top: 66px;
  left: 240px;
}

#add-group {
  padding-left: 65px;
  background: white url("../images/details/icon_group.png") left top no-repeat;
  margin: 20px 0;
}

#add-group .form-field {
  float: left;
}

#browse-subjects {
  padding-left: 65px;
  background: white url("../images/details/icon_subject.png") left top no-repeat;
  margin: 20px 0;
}

#edit-profile {
  padding-left: 65px;
  height: 50px;
  background: white url("../images/details/icon_profile.png") left top no-repeat;
  margin: 20px 0;
}
