#sidebar {
  display: none;
}

#page-content #body-container {
  padding: 0 !important;
  margin: 0 !important;
}

#content #page-content {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

/* join section portlet (/join, on the left) */
#ututi_login_section_portlet_content,
#ututi_join_section_portlet_content {
  width: 270px;
  padding: 0 40px 20px;
}

#ututi_login_section_portlet_content form .form-field div.input-line,
#ututi_join_section_portlet_content form .form-field div.input-line {
  width: 260px;
}

#ututi_login_section_portlet_content form .btn,
#ututi_join_section_portlet_content form .btn {
  float: none;
}
/* end join section portlet */

#ututi_login_section_portlet_content {
  padding-top: 5px;
}

#decision {
  font-size: 14px;
  color: #333;
  padding: 0 10px;
  text-align: center;
}
