.hidden {
  display: none;
}

.ac_results {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  position: absolute;
  z-index: 10000;
  width: 200px;
}

.ac_results ul {
  margin: 0;
  padding: 0;
}

.ac_results li {
  list-style-type: none;
  padding: 2px 0 5px 5px;
  color: #aa5500;
  background: white;
}

.ac_results .ac_over {
  background: #f2ebe3;
}

.location-tag-field {
  float: left;
  width: 185px;
  margin: 0;
}

.location-tag-field .input-line {
  float: none !important;
}

#location-tag-field-1, #location-tag-field-2, #location-tag-field-3, #location-tag-field-4 {
  padding-left: 20px;
  width: 200px;
  background: white url("../images/details/arrow.png") left bottom no-repeat;
}
