/* location info portlet */
#location_info_portlet #location-stats span {
  color: #1a1a1a;
  margin-right: 1.5em;
  padding-bottom: 5px;
}

#location_info_portlet #location-stats span em {
  font-style: normal;
}

#faculties-list {
  margin-top: 15px;
  margin-bottom: 20px;
}

#faculties-list tr td {
  padding-left: 10px;
}
