/* polish frontpage */
.subhead {
    color: #808080;
    font-size: 12px;
}

#group_create {
    margin: 40px;
}

#group_create .btn {
  padding-left: 45px;
}

#group_create .btn span {
  font-size: 18px;
  line-height: 40px;
  padding-right: 20px;
  text-transform: none;
  vertical-align: middle;
}

#group_create .btn,
#group_create .btn span {
  background-image: url("../images/button_newgroup.png");
  height: 40px;
}

#ututi_features {
  margin-bottom: 20px;
}

#ututi_features .feature {
  margin: 15px 0;
  padding-left: 35px;
  background-position: left top;
  background-repeat: no-repeat;
}

#ututi_features .feature h3 {
  margin-top: 2px;
}

#ututi_features .feature span {
  color: #808080;
}

#ututi_features .feature.icon_file {
  background-image: url("../images/details/icon_file_larger.png");
}

#ututi_features .feature.icon_group {
  background-image: url("../images/details/icon_group_larger.png");
}

#ututi_features .feature.icon_gadugadu {
  background-image: url("../images/details/icon_gadugadu_larger.png");
}
