#user-logo {
  text-align: left;
  margin: 0 auto;
}

#user-logo-msg {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: -50%;
  background: #1f1f1f;
  color: white;
}

#year-input div.input-line {
  width: 80px;
}

#year-input {
  clear: none;
}

#group_portlet {
  margin-top: 10px;
}

form#edit_profile_form .form-field textarea {
  width: 360px;
}

.personal_watched_subjects {
  padding-left: 10px;
}

.personal_watched_subjects li.enabled {
  list-style-type: none;
  padding: 0 0 5px 20px;
  background: transparent url("../images/details/icon_subject_small.png") left top no-repeat;
}

.personal_watched_subjects li.disabled {
  list-style-type: none;
  padding: 0 0 5px 20px;
  background: transparent url("../images/details/dalykas_disabled.png") left top no-repeat;
}

.personal_watched_subjects li.enabled a {
  color: #000;
  text-size: 1em;
}

.personal_watched_subjects li.disabled a {
  color: #999;
  text-size: 1em;
}

.hdr {
  padding-top: 5px;
  padding-bottom: 10px;
}

.enabled .unignore_subject_button {
  display: none;
}

.disabled .ignore_subject_button {
  display: none;
}

.select_interval_form_done .in_progress_icon,
.select_interval_form .in_progress_icon {
  float: right;
  display: none;
}

.select_interval_form_in_progress .done_icon,
.select_interval_form .done_icon {
  float: right;
  display: none;
}

.select_interval_form_in_progress .in_progress_icon {
  float: right;
}

.select_interval_form_done .done_icon{
  float: right;
}

li.empty_note {
  list-style-type: none;
  color: #999;
  text-size: 1em;
}


/* group blocks in dashboard */
.group_area {
  padding: 5px;
  margin: 5px 0;
  border-bottom: 1px solid #ded8d8;
  clear: left;
}

.group_area .group-logo {
  float: left;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-right: 10px;
}

.group_area .group-logo img {
  margin: 0 auto;
}

.group_area .group-info .title,
.group_area .group-info .title a {
  color: #030303;
  font-size: 16px;
}

.group_area .group-info .school-link {
  text-transform: uppercase;
  font-size: 12px;
}

.group_area table.group-news td,
.group_area table.group-news th {
  width: 50%;
  vertical-align: top;
  padding-right: 5px;
}

.group_area td.right-column {
  border-left: 1px solid #ded8d8;
}

.group_area .right-column {
  padding: 0 0 0 5px;
}

.group_area table.group-news th {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
}

.group_area table.group-news {
  clear: left;
  width: 600px;
  font-size: 12px;
  margin-top: 10px;
}

.group_area table.group-news td td.subject {
  width: 75%;
  line-height: 14px;
}

.group_area table.group-news td td.date {
  width: 25%;
  line-height: 14px;
  color: #808080;
  text-align: right;
}

.group_area table.group-news table.group-events td.subject {
  padding-left: 15px;
  background: url("../images/details/icon_event.png") left 2px no-repeat;
}

.group_area table.group-news table.group-messages,
.group_area table.group-news table.group-events {
  width: 295px;
  margin-bottom: 5px;
}

.group_area table.group-news table.group-messages td.subject {
  padding-left: 15px;
  background: url("../images/details/icon_message.png") left 2px no-repeat;
}

.group_area .more-links td {
  text-align: right;
}
