/* main layout*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 87.5%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #1a1a1a;
  background: white url("../images/block_header_background.png") center 5px no-repeat;
  padding-bottom: 5px;
}


#container {
  min-height: 100%;
  width: 980px;
  position: relative;
  margin: 5px auto;
  background: white;
}


#header {
  height: 106px;
  background: #f9f9f9 url("../images/block_header.png") left center no-repeat;
  padding: 1px 0;
}

#content {
  padding: 30px 15px 70px 0;
  min-height: 200px;
}

#footer {
  height: 30px;
  bottom: 0;
  position: absolute;
  width: 960px;
  margin: 5px;
  padding: 3px;
  background: #f5f5f5;
  border: 1px solid #ded8d8;
  text-align: center;
}
/* end main layout */

/* fonts */
h1,
.immense {
  font-size: 1.8em;
  margin: 0.4em 0;
}

h2,
.huge {
  font-size: 1.6em;
}

h3,
.large {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

h4,
.larger {
  margin: 0;
  font-size: 1.2em;
}

.smaller,
label {
  font-size: 1.1em;
}

.small {
  font-size: 0.8em;
  color: #808080;
  font-weight: bold;
}

/* end fonts */

/* text colors */
.tag {
  color: #4d4d4d;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.comment {
  color: #808080;
}

/* resetting default styles */
a img {
  border: 0;
}

a {
  color: #d45500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* begin lists */
ul.bullets_large li {
  list-style-type: none;
  padding-left: 20px;
  background: white url("../images/bullet_large.png") left center no-repeat;
}
/* end lists */

/* header elements */
#breadcrumb-container {
  margin: 5px 0 0 20px;
}

/* personal box */
#personal-box {
  float: right;
  width: 300px;
  margin-top: 5px;
  margin-right: 15px;
}

#personal-box div.form-field {
  float: right;
  clear: right;
  margin: 0;
}

#personal-box .personal-info {
  border: 1px solid #ded8d8;
  margin-top: 5px;
}
.personal-logo {
  float: right;
  width: 45px;
  height: 60px;
  margin: 0;
}

#personal-data {
  padding: 5px 10px 5px;
  float: right;
}

#personal-box div.personal-info {
  clear: right;
}

#personal-data div {
  float: none;
  text-align: right;
}

#personal-box .fullname {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

#personal-box .email {
  color: #aa4400;
}

#personal-menu {
  float: right;
  padding-bottom: 5px;
}

#personal-menu a.title {
  padding: 1px 15px 1px 1px;
  background: transparent url("../images/details/expand_down.png") right center no-repeat;
}

/* end personal box */

/* content */
#content .inside {
  padding: 0 20px 0 15px;
  margin-right: 300px;
}

/* sidebar */
#sidebar {
  float: right;
}

/* sidebar block */
.sidebar-block {
  width: 300px;
}

.sidebar-block .rounded-header {
  height: 23px;
  background: white url("../images/borders/portlet-top.png") left top no-repeat;
  padding-left: 10px;
}

.sidebar-block .rounded-header .rounded-right {
  height: 19px;
  background: white url("../images/borders/portlet-top.png") right top no-repeat;
  padding-right: 10px;
  padding-top: 4px;
}

.sidebar-block .content {
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  border: 2px solid #e5e5d3;
  overflow: auto;
}

.sidebar-block .content a {
  color: #d45500;
}

.sidebar-block .content a.more {
  float: right;
}


.sidebar-block .rounded-header h3,
.sidebar-block .rounded-header h3 a {
  color: #666666;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: left;
}

.sidebar-block .portlet-link {
  float: right;
  color: black;
  text-decoration: underline;
}

.sidebar-block .portlet-link a {
  color: black;
}

/* end sidebar block */

/* begin horizontal menu */


.horizontal-menu a {
  color: #808080;
  text-decoration: none;
}

.horizontal-menu a:hover {
  text-decoration: none;
}

.horizontal-menu .active a {
  color: #ff7800;
}

.horizontal-menu {
  margin: 0 0 0.2em;
  overflow: hidden;
  padding: 0;
}
.horizontal-menu li {
  color: #808080;
  display: block;
  float: left;
  padding: 0 0.5em 15px;
  background: white url("../images/horizontal_menu.png") bottom left repeat-x;
}

.horizontal-menu li.active {
  color: #ff7800;
  background: white url("../images/horizontal_menu_active.png") bottom center repeat-x;
}

/* end horizontal menu */

/* begin form */
form.inline-form {
  display: inline;
}

form .form-field {
  margin: 0.2em 0;
  overflow: hidden; /* to contain floats */
}

form .form-field label {
  display: block;
  /* font */
  font-weight: bold;
  color: #808080;
}

form .form-field .btn {
  margin-top: 0.5em;
}

form .line {
  border: 2px solid #ecb481;
  color: #808080;
  font-weight: bold;
}

form .form-field.overlay {
  position: relative;
}

form .form-field.overlay input {
  float: none;
}

form .form-field.overlay label {
  float: none;
  position: absolute;
  left: 5px;
  bottom: 2px;
  color: #8c8c8c;
  font-weight: bold;
}
/* end form */

/* begin buttons */
span.btn,
a.btn {
  background: white url("../images/button_small.png") left top no-repeat;
  display: inline-block;
  border: medium none;
  padding: 0 0 0 5px;
}

span.btn input,
a.btn span {
  background: white url("../images/button_small.png") right top no-repeat;
  border: medium none;
  height: 20px;
  padding: 0 5px 0 0;
  margin: 0;
  color: black;
  font-weight: normal;
  display: inline-block;
}
/* end buttons */

/* special links */
a.more {
  font-size: 0.9em;
  padding-right: 15px;
  background: url("../images/details/link_arrow.png") right center no-repeat;
}

a.small-link {
  font-weight: bold;
  color: #808080;
  text-decoration: underline;
}

a.small-link:hover {
  text-decoration: none;
}

/* end special links */

/* begin breadcrumbs */
#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  top: 43px;
  left: 110px;
}

  /* horizontal list */
.breadcrumb a,
.no-bullet a,
.breadcrumb_dropdown li.active,
#breadcrumbs li li a {
  font-size: 1.7em;
  color: #666;
  cursor: pointer;
}

.breadcrumb_dropdown li.active div span,
#breadcrumbs li li a {
  color: #d45500;
}

#breadcrumbs li {
  float: left;
  list-style-type: none;
  list-style-image: none;
  padding: 2px 0;
}

#breadcrumbs li.no-bullet {
  padding-right: 5px;
}

#breadcrumbs li.breadcrumb {
  padding-right: 5px;
  padding-left: 18px;
  background: transparent url("../images/bullet_orange.png") left 12px no-repeat;
}

#breadcrumbs li.breadcrumb div,
#breadcrumbs li.no-bullet div {
  padding-top: 4px;
}

#breadcrumbs ul.breadcrumb_dropdown li {
  float: none;
}

#breadcrumbs ul.breadcrumb_dropdown {
  padding-left: 5px;
}

/* default state */
#breadcrumbs ul.breadcrumb_dropdown li.alternative,
#breadcrumbs ul.breadcrumb_dropdown li.last {
  display: none;
}

#breadcrumbs ul.breadcrumb_dropdown li.active {
  height: 36px;
  background: transparent url("../images/details/icon_branches.png") left center no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown li.active div {
  height: 32px;
  background: transparent;                                                   ;
  padding: 4px 25px 0 0;
}

/* hover */
#breadcrumbs ul.breadcrumb_dropdown li.active:hover {
  background: transparent url("../images/details/icon_down.png") left center no-repeat;
}

/* expanded state */

#breadcrumbs ul.breadcrumb_dropdown.expanded li.alternative,
#breadcrumbs ul.breadcrumb_dropdown.expanded li.last {
  display: list-item;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.active {
  height: 36px;
  background: url("../images/borders/breadcrumb-top.png") left top no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.active div {
  height: 32px;
  background: url("../images/borders/breadcrumb-top.png") right top no-repeat;
  padding: 4px 25px 0 0;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.alternative {
  height: 32px;
  background: url("../images/borders/breadcrumb-middle.png") left top no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.alternative div {
  height: 28px;
  background: url("../images/borders/breadcrumb-middle.png") right top no-repeat;
  padding: 4px 25px 0 0;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.last {
  height: 35px;
  background: url("../images/borders/breadcrumb-last.png") left top no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.last div {
  height: 31px;
  background: url("../images/borders/breadcrumb-last.png") right top no-repeat;
  padding: 4px 25px 0 0;
}


/* end breadcrumbs */

/* begin debugging helpers */

.XXX {
  color: red !important;
  border-color: red !important;
  background: #e3c5c5;
}

/* end debugging helpers */

/* group blocks */
#group_info_portlet .description {
  clear: both;
  color: #333;
}

#group_info_portlet #group-logo {
  float: left;
  margin-right: 5px;
}

#group_info_portlet .structured_info span {
  color: #333;
}

#group_changes_portlet table.group-changes {
  color: #808080;
}

#group_changes_portlet table.group-changes td.change-category {
  width: 90%;
  padding-left: 10px;
  background: transparent url("../images/bullet_small.png") left center no-repeat;
}

#group_changes_portlet table.group-changes td.change-count {
  color: #ff7800;
}

#group_members_portlet .user-link {
  width: 70px;
  text-align: center;
  float: left;
  margin: 0 5px;
}

#group_members_portlet .user-link div {
  text-align: center;
}

/* end group blocks */

/* main page blocks */
.content-block .rounded-header {
  height: 30px;
  background: white url("../images/block_header_gray.png") left top no-repeat;
  padding-left: 20px;
}

.content-block .rounded-header .header-links {
  padding-top: 5px;
  float: right;
  color: black;
}

.content-block .rounded-header .header-links a {
  color: black;
  text-decoration: underline;
}

.content-block .rounded-header .rounded-right {
  height: 26px;
  text-align: left;
  background: white url("../images/block_header_gray.png") right top no-repeat;
  padding-right: 30px;
  padding-top: 4px;
}

.content-block .content {
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  border: 2px solid #eaeadb;
}

.content-block .footer {
  margin-top: 0.2em;
}
/* end main page blocks */

/* flash messages */
.flash-message {
  background: #fdeab1;
  margin: 0 0 0.8em;
  padding: 0.3em 0.5em;
}

.flash-message .close-link {
  float: right;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.message {
  color: #808080
}

/* begin pager */
div#pager {
    text-align: center;
}

/* end pager */

/* tags */
span.tag {
  background: #fdeab1;
  padding: 0.3em;
  margin: 0.2em 0.7em 0.2em 0;
  font-size: 0.9em;
  color: black;
}

/* search results */
div#search-results div.search-item {
  margin: 0.5em 0;
}

div#search-results div.search-item a.item-title {
  margin-bottom: 0.3em;
}

div.group-item {
  padding-left: 70px;
  background: url("../images/group_ico.png") left top no-repeat;
}

div.search-item div.description {
  margin: 0.1em 0;
}

/* user block */
div.user-logo-link {
  float: left;
  margin: 20px;
  width: 100px;
  height: 120px;
  text-align: center;
}

div.user-logo-link img {
  width: 60px;
  margin: 0 auto;
}

div.user-logo-link div {
  text-align: center;
}
