/* main layout*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 87.5%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: #e5e5d3;
}

#header {
  height: 155px;
  background: white;

  margin: 0 -12px;
  padding: 0 12px;
}

#content-top {
  height: 35px;
  margin: 0 -12px;
  padding: 0 12px;
  background: #e5e5d3;
}

#container {
  min-height: 100%;
  position: relative;
  margin: 0 10px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: white;
}

#content {
  padding: 30px 30px 135px 0;
  min-height: 200px;
}

#footer {
  height: 135px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: #e5e5d3;
  margin: 0 -12px;
  padding: 0 12px;

  text-align: center;
}
/* end main layout */

/* fonts */
h1,
.immense {
  font-size: 1.8em;
  margin: 0.4em 0;
}

h2,
.huge {
  font-size: 1.6em;
}

h3,
.large {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

h4,
.larger {
  margin: 0;
  font-size: 1.2em;
}

.smaller,
label {
  font-size: 1.1em;
}

.small {
  font-size: 0.8em;
  color: #808080;
  font-weight: bold;
}

/* end fonts */

/* resetting default styles */
a img {
  border: 0;
}

a {
  color: #ff7800;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* begin lists */
ul.bullets_large li {
  list-style-type: none;
  padding-left: 20px;
  background: white url("../images/bullet_large.png") left center no-repeat;
}
/* end lists */

/* header elements */
#personal-box {
  float: right;
  width: 250px;
  height: 100px;
  margin-top: 10px;
  border: 2px solid #e5e5d3;
}

/* content borders */
#content-top {
  background: #e5e5d3 url("../images/content_border.png") left top no-repeat;
  padding-left: 50px;
}

#content-top div {
  background: #e5e5d3 url("../images/content_border.png") right top no-repeat;
  height: 35px;
  margin: 0 -12px;
  padding: 0 12px;
}

#content-bottom {
  background: #e5e5d3 url("../images/content_border.png") left bottom no-repeat;
  margin: 0 -12px 35px;
  padding: 0 12px;
  padding-left: 50px;
}

#content-bottom div {
  background: #e5e5d3 url("../images/content_border.png") right bottom no-repeat;
  height: 35px;
  margin: 0 -12px;
  padding: 0 12px;
}

/* end content borders */

/* personal box */
#personal-box .rounding,
#personal-box .rounded-right {
  height: 10px;
}

#personal-box .rounding {
  margin: -2px; /* compensating for the border */
}

#personal-box .content {
  height: 83px;
  padding: 5px 10px 0;
}

#personal-box .rounded-header {
  padding-left: 50px;
  background: white url("../images/personal_border.png") no-repeat left top;
}

#personal-box .rounded-header .rounded-right{
  background: white url("../images/personal_border.png") no-repeat right top;
}

#personal-box .rounded-footer {
  padding-left: 50px;
  background: white url("../images/personal_border.png") no-repeat left bottom;
}

#personal-box .rounded-footer .rounded-right{
  background: white url("../images/personal_border.png") no-repeat right bottom;
}

.personal-logo {
  float: left;
  width: 45px;
  height: 60px;
  margin-right: 5px;
}

#personal-box .fullname {
  font-weight: bold;
  color: black;
}

#personal-box .logout {
  float: right;
  margin-right: 10px;
}

.user-rating {
  color: #ff7800;
  font-weight: bold;
  padding-left: 20px;
}

#personal-box #user-ratings {
  clear: right;
  margin-top: 5px;
}

.user-rating {
  margin-right: 10px;
}

#user-rating-good {
  background: transparent url("../images/icon_good.png") left center no-repeat;
}

#user-rating-evil {
  background: transparent url("../images/icon_evil.png") left center no-repeat;
}

#personal-menu {
  margin: 4px 5px 0;
}

#personal-menu .expanding-menu {
  margin-right: 5px;
}

#personal-menu a.title {
  padding: 1px 15px 1px 1px;
  background: transparent url("../images/icon_expand_small.png") right center no-repeat;
}

#personal-menu a.title:hover {
  padding: 0 14px 0 0;
  border: 1px solid #adaca4;
}

/* end personal box */

/* content */
#content .inside {
  padding: 0 30px 0 60px;
  margin-right: 250px;
}

/* sidebar */
#sidebar {
  float: right;
}

/* sidebar block */
.sidebar-block {
  width: 250px;
}

.sidebar-block .rounded-header {
  height: 30px;
  background: white url("../images/sidebar_border.png") left top no-repeat;
  padding-left: 20px;
}

.sidebar-block .rounded-header .rounded-right {
  height: 26px;
  text-align: center;
  background: white url("../images/sidebar_border.png") right top no-repeat;
  padding-right: 30px;
  padding-top: 4px;
}

.inactive .rounded-header {
  background: white url("../images/sidebar_border_gray.png") left top no-repeat !important;
}

.inactive .rounded-header .rounded-right {
  background: white url("../images/sidebar_border_gray.png") right top no-repeat !important;
}

.inactive .rounded-header h3 {
  color: black !important;
}

.sidebar-block .content {
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  border: 2px solid #e5e5d3;
}

.sidebar-block .content a {
  color: #ff7800;
}

.sidebar-block .rounded-header h3,
.sidebar-block .rounded-header h3 a {
  color: white;
  text-align: left;
}

.sidebar-block .portlet-link {
  float: right;
  color: black;
  text-decoration: underline;
}

.sidebar-block .portlet-link a {
  color: black;
}

/* end sidebar block */

/* begin horizontal menu */


.horizontal-menu a {
  color: #808080;
  text-decoration: none;
}

.horizontal-menu a:hover {
  text-decoration: none;
}

.horizontal-menu .active a {
  color: #ff7800;
}

.horizontal-menu {
  margin: 0 0 0.2em;
  overflow: hidden;
  padding: 0;
}
.horizontal-menu li {
  color: #808080;
  display: block;
  float: left;
  padding: 0 0.5em 15px;
  background: white url("../images/horizontal_menu.png") bottom left repeat-x;
}

.horizontal-menu li.active {
  color: #ff7800;
  background: white url("../images/horizontal_menu_active.png") bottom center repeat-x;
}

/* end horizontal menu */

/* begin form */
form .form-field {
  margin: 0.2em 0;
  overflow: hidden; /* to contain floats */
}

form .form-field label {
  display: block;
  /* font */
  font-weight: bold;
  color: #808080;
}

form .form-field .btn {
  margin-top: 0.5em;
}

form .line {
  border: 2px solid #ecb481;
  color: #808080;
  font-weight: bold;
}

form .form-field.overlay {
  position: relative;
}

form .form-field.overlay input {
  float: none;
}

form .form-field.overlay label {
  float: none;
  position: absolute;
  left: 5px;
  bottom: 2px;
  color: #8c8c8c;
  font-weight: bold;
}
/* end form */

/* begin buttons */
span.btn,
a.btn {
  background: white url("../images/button_small.png") left top no-repeat;
  display: inline-block;
  border: medium none;
  padding: 0 0 0 5px;
}

span.btn input,
a.btn span {
  background: white url("../images/button_small.png") right top no-repeat;
  border: medium none;
  height: 20px;
  padding: 0 5px 0 0;
  margin: 0;
  color: black;
  font-weight: normal;
  display: inline-block;
}
/* end buttons */

/* special links */
a.small-link {
  font-weight: bold;
  color: #808080;
  text-decoration: underline;
}

a.small-link:hover {
  text-decoration: none;
}

/* end special links */

/* begin breadcrumbs */
#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  top: 66px;
  left: 99px;
}

  /* horizontal list */
#breadcrumbs li {
  float: left;
  list-style-type: none;
  list-style-image: none;
  padding: 2px 0;
}

  /* items separated with bullets */
#breadcrumbs li a.breadcrumb {
  padding-left: 18px;
  margin-left: 3px;
  background: transparent url("../images/bullet_orange.png") left center no-repeat;
}

#breadcrumbs li ul.breadcrumb_dropdown li.active {
  list-style-image: url("../images/bullet_orange.png");
  list-style-position: outside;
  padding: 2px 0;
}

#breadcrumbs li.no-bullet a.breadcrumb {
  padding-left: 0;
  margin-left: 0;
  background: none;
}

#breadcrumbs li.no-bullet ul.breadcrumb_dropdown li.active {
  list-style-image: none;
}

#breadcrumbs li.no-bullet ul.breadcrumb_dropdown {
  margin-left: 0;
}

ul.breadcrumb_dropdown {
  margin-top: -4px;
  margin-left: 28px;
}

  /* an arrow indicating the list is expanding */
#breadcrumbs li ul.breadcrumb_dropdown li.active span {
  padding: 0 25px 0 2px;
  margin-right: 5px;
  background: url("../images/icon_expand.png") right center no-repeat;
}

  /* border for the expanded items */
ul.breadcrumb_dropdown.expanded {
  border: 2px solid #adaca4;
}

ul.expanded li.active {
  padding: 4px;
  border-bottom: 2px solid #adaca4;
}

ul.breadcrumb_dropdown li.active:hover span {
  padding-left: 0 !important;
  border: 2px solid #adaca4;
}

ul.expanded li.active:hover span {
  border: none;
  padding-left: 2px !important;
}

  /* vertical list */
ul.breadcrumb_dropdown li {
  float: none;
}

  /* drop down items are hidden at first */
ul.breadcrumb_dropdown {
  padding: 2px;
}

ul.breadcrumb_dropdown li.alternative {
  display: none;
}
  /* and shown only when the list is expanded */
ul.breadcrumb_dropdown.expanded li.alternative {
  display: list-item;
}

ul.breadcrumb_dropdown.expanded {
  padding: 0;
}

#breadcrumbs li ul {
   background: white;
}

#breadcrumbs li li {
  float: none;
  padding: 0;
}

#breadcrumbs li li.alternative a {
  color: black;
  font-size: 1.4em;
  padding-left: 0.2em;
}

.breadcrumb,
.breadcrumb_dropdown li.active span {
  font-size: 1.7em;
  color: #333;
  cursor: pointer;
}
/* end breadcrumbs */

/* begin debugging helpers */

.XXX {
  color: red !important;
  border-color: red !important;
  background: #e3c5c5;
}

/* end debugging helpers */

/* group blocks */
#group_info_portlet .description {
  clear: both;
  color: #333;
}

#group_info_portlet #group-logo {
  float: left;
  margin-right: 5px;
}

#group_info_portlet .structured_info span {
  color: #333;
}

#group_changes_portlet table.group-changes {
  color: #808080;
}

#group_changes_portlet table.group-changes td.change-category {
  width: 90%;
  padding-left: 10px;
  background: transparent url("../images/bullet_small.png") left center no-repeat;
}

#group_changes_portlet table.group-changes td.change-count {
  color: #ff7800;
}

#group_members_portlet .user-link {
  width: 70px;
  text-align: center;
  float: left;
}

/* end group blocks */

/* main page blocks */
.content-block .rounded-header {
  height: 30px;
  background: white url("../images/block_header_gray.png") left top no-repeat;
  padding-left: 20px;
}

.content-block .rounded-header .header-links {
  padding-top: 5px;
  float: right;
  color: black;
}

.content-block .rounded-header .header-links a {
  color: black;
  text-decoration: underline;
}

.content-block .rounded-header .rounded-right {
  height: 26px;
  text-align: left;
  background: white url("../images/block_header_gray.png") right top no-repeat;
  padding-right: 30px;
  padding-top: 4px;
}

.content-block .content {
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  border: 2px solid #eaeadb;
}

.content-block .footer {
  margin-top: 0.2em;
}
/* end main page blocks */
