/* main layout*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #1a1a1a;
  background: white url("../images/block_header_background.png") center 5px repeat-x;
  padding-bottom: 5px;
}


#container {
  min-height: 100%;
  width: 980px;
  position: relative;
  margin: 5px auto;
  background: white;
}


#header {
  height: 106px;
  background: #f9f9f9 url("../images/block_header.png") left center no-repeat;
  padding: 1px 0;
}

#content {
  padding: 30px 15px 70px 0;
  min-height: 200px;
}

#footer {
  height: 30px;
  bottom: 0;
  position: absolute;
  width: 960px;
  margin: 5px;
  padding: 3px;
  background: #f5f5f5;
  border: 1px solid #ded8d8;
  text-align: center;
}

#footer .small {
  font-weight: normal;
}

/* end main layout */

/* fonts */
.error,
.error-message {
  color: red;
  font-size: 12px;
}

h1,
.immense {
  font-size: 1.8em;
  margin: 0.4em 0;
}

h2,
.huge {
  font-size: 1.6em;
}

h3,
.large {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}

h1.underline, h2.underline, h3.underline {
  border-bottom: 1px solid #ded8d8;
}

h4,
.larger {
  margin: 0;
  font-size: 1.2em;
}

.smaller,
label {
  font-size: 1.1em;
}

.small {
  font-size: 0.8em;
  color: #808080;
  font-weight: bold;
}

/* end fonts */

/* text colors */
h1, h2, h3, h4 {
  color: #1a1a1a;
  margin: 0.1em 0;
}

.tag {
  color: #4d4d4d;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.tag:hover {
  text-decoration: underline;
}

.comment {
  color: #808080;
}

/* resetting default styles */
ul {
  margin: 0;
}

h3 {
  font-weight: bold;
}

.show {
  display: none;
}

.clickable {
   cursor: pointer;
}

table {
  border-collapse: collapse;
}

a img {
  border: 0;
}

a {
  color: #d45500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* begin lists */
ul.bullets_large li {
  list-style-type: none;
  padding-left: 20px;
  background: white url("../images/bullet_large.png") left center no-repeat;
}
/* end lists */

/* header elements */
#breadcrumb-container {
  margin: 5px 0 0 20px;
}

/* personal box */
#login_form .error {
  float: left;
  height: 20px;
  line-height: 20px;
  width: 100px;
  padding-left: 40px;
}

#login_form .input-rounded input {
  width: 160px;
}

#login_form label {
  font-size: 1em;
  font-weight: normal;
}

#personal-box {
  float: right;
  width: 350px;
  margin-top: 5px;
  margin-right: 15px;
}

#personal-box div.form-field {
  float: right;
  margin: 0;
}

#personal-box div.form-field.overlay {
  width: 190px;
}

#personal-box .personal-info {
  border: 0;
  margin: 0;
  margin-top: 5px;
  padding: 5px;
  height: 60px;
  width: 283px;
  background: url("../images/borders/personal-box.png") 0 0 no-repeat;
}
.personal-logo {
  float: right;
  height: 60px;
  margin: 0;
}

#personal-data {
  padding: 5px 10px 5px;
  float: right;
}

#personal-box div.personal-info {
  float: right;
}

#personal-data div {
  float: none;
  text-align: right;
}

#personal-box .fullname {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

#personal-box .email {
  color: #aa4400;
}

#personal-menu {
  margin: 0 0 5px;
}

#personal-menu div.item {
  float: right;
  margin: 0  0 0 10px;
  position: relative;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

#personal-menu span.title {
  padding: 1px 20px 1px 1px;
  color: #666;
  font-weight: bold;
  background: transparent url("../images/details/expand_down.png") right center no-repeat;
  cursor: pointer;
}

#personal-menu .expanding-menu {
  position: absolute;
  right: 0;
  margin: 0;
}

#personal-menu .open span.title {
  background-image: url("../images/details/personal_menu_open.png");
}

#personal-menu ul.expanding-menu li {
  list-style-type: none;
  height: 19px;
  line-height: 18px;
  background: url("../images/borders/personal_menu.png") left -19px no-repeat;
  padding-left: 5px;
  margin: 0;
}

#personal-menu ul.expanding-menu li div {
  width: 130px;
  overflow: hidden;
  background: url("../images/borders/personal_menu.png") right -19px no-repeat;
  padding-right: 5px;
  padding-bottom: 1px;
  margin: 0;
}

#personal-menu ul.expanding-menu li.top {
  height: 2px;
  background: url("../images/borders/personal_menu.png") top left no-repeat;
  padding-left: 5px;
}

#personal-menu ul.expanding-menu li.top div {
  background: url("../images/borders/personal_menu.png") top right no-repeat;
  padding-right: 5px;
  height: 2px;
}

#personal-menu ul.expanding-menu li.bottom {
  background: url("../images/borders/personal_menu.png") left -38px no-repeat;
}

#personal-menu ul.expanding-menu li.bottom div {
  background: url("../images/borders/personal_menu.png") right -38px no-repeat;
}

/* end personal box */

/* content */
#content .inside {
  padding: 0 20px 0 15px;
  margin-right: 300px;
}

/* sidebar */
#sidebar {
  float: right;
}

/* sidebar block */
.sidebar-block {
  width: 300px;
}

.sidebar-block .rounded-header {
  height: 23px;
  background: white url("../images/borders/portlet-top.png") left top no-repeat;
  padding-left: 10px;
}

.sidebar-block .rounded-header .rounded-right {
  height: 19px;
  background: white url("../images/borders/portlet-top.png") right top no-repeat;
  padding-right: 10px;
  padding-top: 4px;
}

.sidebar-block .content {
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  border: 2px solid #e5e5d3;
}

.sidebar-block .content a {
  color: #d45500;
}

.sidebar-block .content a.more {
  float: right;
}


.sidebar-block .rounded-header h3,
.sidebar-block .rounded-header h3 a {
  color: #666666;
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: left;
}

.sidebar-block .portlet-link {
  float: right;
  color: black;
  text-decoration: underline;
}

.sidebar-block .portlet-link a {
  color: black;
}

/* end sidebar block */

/* begin horizontal menu */


.horizontal-menu a {
  color: #808080;
  text-decoration: none;
}

.horizontal-menu a:hover {
  text-decoration: none;
}

.horizontal-menu .active a {
  color: #ff7800;
}

.horizontal-menu {
  margin: 0 0 0.2em;
  overflow: hidden;
  padding: 0;
}
.horizontal-menu li {
  color: #808080;
  display: block;
  float: left;
  padding: 0 0.5em 15px;
  background: white url("../images/horizontal_menu.png") bottom left repeat-x;
}

.horizontal-menu li.active {
  color: #ff7800;
  background: white url("../images/horizontal_menu_active.png") bottom center repeat-x;
}

/* end horizontal menu */

/* begin form */
form .form-field .inline-label {
  font-weight: bold;
  font-size: 0.8em;
  color: #666;
}

form.inline-form {
  display: inline;
}

form .form-field {
  margin: 0.2em 0;
}

form .form-field label {
  display: block;
  /* font */
  color: #666;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-transform: lowercase;
}

form .form-field div.input-rounded {
  background: white url("../images/borders/input-small.png") left top no-repeat;
  display: inline-block;
  border: medium none;
  padding: 0 0 0 5px;
  margin: 0;
  width: auto;
}

form .form-field div.input-rounded div {
  background: white url("../images/borders/input-small.png") right top no-repeat;
  border: 0px;
  height: 20px;
  padding: 0 10px 2px 0;
  margin: 0;
  color: #1a1a1a;
  display: inline-block;
}

form .form-field div.input-rounded div input {
  border: 0px;
  background: transparent;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}


form .form-field.no-break label {
  display: inline;
}

form .form-field .btn {
  margin-top: 0.5em;
}

form .form-field.overlay {
  position: relative;
}

form .form-field.overlay input {
  float: none;
}

form .form-field.overlay label {
  float: none;
  position: absolute;
  left: 5px;
  bottom: 2px;
  color: #8c8c8c;
  font-weight: bold;
}
/* end form */

/* begin buttons */
input.text_button {
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #d45500;
  padding: 0;
}

input.text_button:hover {
  text-decoration: underline;
  border-bottom: 1px solid #d45500;
}

span.btn,
a.btn {
  background: white url("../images/button_small.png") left top no-repeat;
  display: inline-block;
  overflow: auto;
  padding: 0 0 0 10px;
}

span.btn.inactive,
a.btn.inactive,
span.btn.inactive input,
a.btn.inactive span {
    background-image: url("../images/button_small_inactive.png") !important;
}
span.btn input,
a.btn span {
  background: white url("../images/button_small.png") right top no-repeat;
  border: medium none;
  height: 22px;
  line-height: 20px;
  padding: 0 10px 2px 0;
  margin: 0;
  color: #333;
  font-weight: normal;
  display: inline-block;
  text-transform: lowercase;
}

span.btn-large,
a.btn-large {
  background: white url("../images/button_large.png") left top no-repeat;
  display: inline-block;
  border: medium none;
  padding: 0 0 0 10px;
}

span.btn-large input,
a.btn-large span {
  background: white url("../images/button_large.png") right top no-repeat;
  border: medium none;
  height: 30px;
  line-height: 28px;
  padding: 0 10px 2px 0;
  margin: 0;
  color: black;
  font-weight: normal;
  display: inline-block;
}

/* end buttons */

/* special links */
a.more {
  font-size: 0.9em;
  padding-right: 15px;
  background: url("../images/details/link_arrow.png") right center no-repeat;
}

a.small-link {
  color: #d45500;
}

a.small-link:hover {
  text-decoration: underline;
}

/* end special links */

/* begin breadcrumbs */
#location {
  margin: 0;
  padding: 0;
  left: 110px;
  top: 25px;
  position: absolute;
  height: 20px;
}

#location div.location-tag {
  float: left;
  height: 20px;
  margin-right: 3px;
}

#location .location-tag .title {
  float: left;
  height: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #666;
  font-size: 1.1em;
}

#location .location-tag img {
  float: left;
  margin: 0 3px 0 0;
}

#location .bullet-small {
  padding-left: 13px;
  background: url("../images/details/bullet_orange_small.png") left center no-repeat;
}

#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  position: absolute;
  top: 43px;
  left: 110px;
}

  /* horizontal list */
.breadcrumb a,
.no-bullet a,
.breadcrumb_dropdown li.active,
#breadcrumbs li li a {
  font-size: 1.7em;
  color: #666;
  cursor: pointer;
}

.breadcrumb_dropdown li.active div span,
#breadcrumbs li li a {
  color: #d45500;
}

#breadcrumbs li {
  float: left;
  list-style-type: none;
  list-style-image: none;
  padding: 2px 0;
}

#breadcrumbs li.no-bullet {
  padding-right: 5px;
}

#breadcrumbs li.breadcrumb {
  padding-right: 5px;
  padding-left: 18px;
  background: transparent url("../images/bullet_orange.png") left 12px no-repeat;
}

#breadcrumbs li.breadcrumb div,
#breadcrumbs li.no-bullet div {
  padding-top: 4px;
}

#breadcrumbs ul.breadcrumb_dropdown li {
  float: none;
}

#breadcrumbs ul.breadcrumb_dropdown {
  padding-left: 5px;
}

/* default state */
#breadcrumbs ul.breadcrumb_dropdown li.alternative,
#breadcrumbs ul.breadcrumb_dropdown li.last {
  display: none;
}

#breadcrumbs ul.breadcrumb_dropdown li.active {
  height: 36px;
  background: transparent url("../images/details/icon_branches.png") left center no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown li.active div {
  height: 32px;
  background: transparent;                                                   ;
  padding: 4px 25px 0 0;
}

/* hover */
#breadcrumbs ul.breadcrumb_dropdown li.active:hover {
  background: transparent url("../images/details/icon_down.png") left center no-repeat;
}

/* expanded state */

#breadcrumbs ul.breadcrumb_dropdown.expanded li.alternative,
#breadcrumbs ul.breadcrumb_dropdown.expanded li.last {
  display: list-item;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.active {
  height: 36px;
  background: url("../images/borders/breadcrumb-top.png") left top no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.active div {
  height: 32px;
  background: url("../images/borders/breadcrumb-top.png") right top no-repeat;
  padding: 4px 25px 0 0;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.alternative {
  height: 32px;
  background: url("../images/borders/breadcrumb-middle.png") left top no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.alternative div {
  height: 28px;
  background: url("../images/borders/breadcrumb-middle.png") right top no-repeat;
  padding: 4px 25px 0 0;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.last {
  height: 35px;
  background: url("../images/borders/breadcrumb-last.png") left top no-repeat;
  padding: 0;
  padding-left: 30px;
}

#breadcrumbs ul.breadcrumb_dropdown.expanded li.last div {
  height: 31px;
  background: url("../images/borders/breadcrumb-last.png") right top no-repeat;
  padding: 4px 25px 0 0;
}


/* end breadcrumbs */

/* begin debugging helpers */

.XXX {
  color: red !important;
  border-color: red !important;
  background: #e3c5c5;
}

/* end debugging helpers */

/* group blocks */
#group_info_portlet .description {
  clear: both;
  color: #333;
}

#group_info_portlet #group-logo {
  float: left;
  margin-right: 5px;
}

#group_info_portlet .structured_info span {
  color: #333;
}

#group_changes_portlet table.group-changes {
  color: #808080;
}

#group_changes_portlet table.group-changes td.change-category {
  width: 90%;
  padding-left: 10px;
  background: transparent url("../images/bullet_small.png") left center no-repeat;
}

#group_changes_portlet table.group-changes td.change-count {
  color: #ff7800;
}

#group_members_portlet .user-logo-link {
  width: 70px;
  height: auto;
  text-align: center;
  float: left;
  margin: 0 5px;
}

#group_members_portlet .user-logo-link div.user-logo {
  width: 40px;
  height: 40px;
}

#group_members_portlet .user-link div {
  text-align: center;
}

/* end group blocks */

/* main page blocks */
.content-block .rounded-header {
  height: 30px;
  background: white url("../images/block_header_gray.png") left top no-repeat;
  padding-left: 20px;
}

.content-block .rounded-header .header-links {
  padding-top: 5px;
  float: right;
  color: black;
}

.content-block .rounded-header .header-links a {
  color: black;
  text-decoration: underline;
}

.content-block .rounded-header .rounded-right {
  height: 26px;
  text-align: left;
  background: white url("../images/block_header_gray.png") right top no-repeat;
  padding-right: 30px;
  padding-top: 4px;
}

.content-block .content {
  padding: 10px 10px 5px;
  margin-bottom: 20px;
  border: 2px solid #eaeadb;
}

.content-block .footer {
  margin-top: 0.2em;
}
/* end main page blocks */

/* user information portlet */
#user_information_portlet div.user-logo {
  width: 70px;
  text-align: center;
  float: left;
}

#user_information_portlet div.user-description {
  clear: left;
  border-top: 1px solid #ded8d8;
  padding-top: 5px;
  font-size: 0.9em;
  color: #333;
}

/* end user information portlet */

/* flash messages */
.flash-message {
  background: #f2f2f2;
  margin: 0 0 0.8em;
  padding: 0.3em 0.5em;
}

.flash-message .close-link {
  float: right;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.message {
  color: #333333;
}

/* begin pager */
div#pager {
    text-align: center;
}

/* end pager */

/* search form */
#page-content .search-controls {
  width: 400px;
}

.search-controls .search-text {
  width: 75%;
  float: left;
  height: 30px;
  background: url("../images/borders/search-text.png") left center no-repeat;
  padding-left: 5px;
}

.search-controls .search-text div {
  height: 28px;
  padding: 1px 0;
  background: url("../images/borders/search-text.png") right center no-repeat;
  padding-right: 5px;
  line-height: 28px;
}

.search-controls .search-text input {
  width: 100%;
  font-size: 1.2em;
  border: 0;
  background: transparent url("../images/details/icon_eyes.png") right center no-repeat;
}

.search-controls .search-submit {
  float: left;
  margin-left: 3px;
}

.search-type {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  height: 35px;
  overflow: auto;
  z-index: 100;
  position: relative;
  top: 1px;
}

.search-type .search-type-item {
  float: left;
  padding: 0 5px;
  margin: 0;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  background: transparent url("../images/borders/search-type.png") bottom center repeat-x;
  color: #d45500;
  cursor: pointer;
}

.search-type .active {
  color: #333;
  background: transparent url("../images/borders/search-type-active.png") bottom center no-repeat;
  z-index: 1000;
}

.search-text-submit {
  z-index: -100;
}

.search-tags {
  margin-top: 5px;
}

.search-tags label {
  text-transform: uppercase;
  color: #888;
  font-size: 1.2em;
  padding-left: 25px;
  background: transparent url("../images/details/icon_tag.png") left center no-repeat;
}

/* search portlet */
#search_portlet .rounded-header {
  display: none;
}

#search_portlet .content {
  border: 0;
  margin-bottom: 0;
}

#search_portlet .search-text {
  width: 180px;
  height: 20px;
  background: url("../images/borders/input-small.png") left center no-repeat;
  line-height: 20px;
}

#search_portlet .search-text div {
  height: 18px;
  padding: 1px 0;
  background: url("../images/borders/input-small.png") right center no-repeat;
  padding-right: 5px;
  line-height: 18px;
}

#search_portlet .search-text input {
  width: 100%;
  font-size: 0.9em;
  border: 0;
  background: transparent none;
}


#search_portlet .autobox-hldr {
  width: 270px;
}

/* end search portlet */

/* search results */
div.search-item .item-tags {
  padding-left: 25px;
  background: white url("../images/details/icon_tag.png") left top no-repeat;
  margin-top: 5px;
}

div.search-item {
  padding-left: 35px;
}

div.snippet-page {
  background: white url("../images/details/icon_type_page.png") left 5px no-repeat;
}

div.snippet-group {
  background: white url("../images/details/icon_type_group.png") left 5px no-repeat;
}

div.snippet-subject {
  background: white url("../images/details/icon_type_subject.png") left 5px no-repeat;
}

h3.search-results-title {
  margin-top: 20px;
  overflow: hidden;
}

h3.search-results-title span {
 float: left;
}

h3.search-results-title span.result-count {
  float: right;
  color: #666;
  font-size: 0.8em;
}

div#search-results div.search-item {
  margin: 0.5em 0;
}

div#search-results div.search-item a.item-title {
  margin-bottom: 0.3em;
}

div.group-item {
  padding-left: 70px;
  background: url("../images/group_ico.png") left top no-repeat;
}

div.search-item div.description {
  margin: 0.1em 0;
}

/* user block */
div.user-logo-link {
  float: left;
  margin: 10px;
  width: 100px;
  height: 120px;
  text-align: center;
}

div.user-logo-link div.user-logo {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

div.user-logo-link img {
  margin: 0 auto;
}

div.user-logo-link div {
  text-align: center;
}

/* end user block */

/* groups portlet */
#group_portlet_content ul {
  list-style-type: none;
  padding: 0;
}

#group_portlet_content img#group-logo {
  margin-right: 5px;
  float: left;
}

#group_portlet_content .group-listing-item {
  padding: 3px;
  border-bottom: 1px solid #ded8d8;
  vertical-align: middle;
  margin-bottom: 10px;
}

/* end groups portlet */

/* subjects portlet */
#subject_portlet_content #user-subjects {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

#subject_portlet_content #user-subjects li {
  height: 16px;
  line-height: 16px;
  padding-left: 20px;
  background: transparent url("../images/details/icon_subject_small.png") left center no-repeat;
  margin: 7px 0;
}
/* js alternatives */
.js {
    display: none;
}

/* end js alternatives */

/* events listing */
ul#event_list li {
  list-style-type: none;
  padding: 0 0 5px 20px;
  background: transparent url("../images/details/icon_event.png") left top no-repeat;
}


/* misc */
a.back-link {
  padding-left: 15px;
  background: white url("../images/details/link_back.png") left center no-repeat;
}

div.permission-denied {
  margin-top: 10px;
  padding-left: 140px;
  padding-top: 5px;
  background: white url("../images/details/icon_nope.png") left top no-repeat;
  height: 80px;
}

div.please-register {
  margin-top: 10px;
  padding-left: 140px;
  padding-top: 5px;
  background: white url("../images/details/icon_labas.png") left top no-repeat;
  height: 80px;
}

.clear-left, .clear-right {
  height: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}


/* end misc */
