/* watched subjects view */
ul#watched-subjects {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

ul#watched-subjects li {
  padding: 5px 0 5px 20px;
  background: white url("../images/details/icon_subject_small.png") left center no-repeat;
}

ul#watched-subjects li.new {
  background: white url("../images/details/icon_subject_small_new.png") left center no-repeat;
}

ul#watched-subjects li a {
  color: black;
}

div.snippet-subject div.title a {
  float: left;
}

div.snippet-subject div.title a.btn {
  margin-left: 10px;
}

div.snippet-subject div.description {
  clear: left;
}

#expand-search {
  color: #d45500;
  cursor: pointer;
  border-bottom: 1px solid #ded8d8;
  padding-left: 10px;
  background: url("../images/details/icon_expand_right_small.png") left center no-repeat;
}

.open #expand-search {
  background: url("../images/details/icon_expand_down_small.png") left center no-repeat;
}
