/* begin suggestions */
.suggestions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.suggestions ul {
  margin: 0;
  padding: 0;
  border: 2px solid #adaca4;
}

.suggestions li {
  list-style-type: none;
  padding: 2px 0 5px 0;
  margin-left: 5px;
}
/* end suggestions */

