upstream {{ service.name }} {
    server 127.0.0.1:{{ service.port }};
}

server {
    server_name  www.{{ service.host_name }};
    rewrite ^(.*) http://{{ service.host_name }}$1 permanent;
}

server {
        listen   80;
        server_name  {{ service.host_name }};

        access_log  /var/log/nginx/{{ service.host_name }}.access.log;
        error_log  /var/log/nginx/{{ service.host_name }}.error.log;

        gzip_types text/plain text/xml text/css application/javascript application/x-javascript application/json;

        location / {
            include nginx_proxy_settings.config;
            proxy_pass http://{{ service.name }};
        }
        location = /favicon.ico {
            alias  {{ service.static_dir }}/static/favicon.ico;
            expires  7d;
            add_header Cache-Control public;
            access_log off;
        }

        location /{{ service.static_prefix }} {
            alias   {{ service.static_dir }};
            expires  7d;
            add_header Cache-Control public;
            access_log off;
        }

        error_page  404  /404.html;
        error_page 500 502 503 504 /static/pages/working.html;
}
