/*
 * Branded CSS for VU MIF.
 *
 */

/* General
 */

body {
    background: white;
    color: black;
}

#layout-wrap {
    border: none;
}

h1,
h1.page-title {
    font-weight: normal;
    font-size: 22px;
    margin-top: 15px;
    padding-left: 5px;
    color: #820505;
}

.underline,
h1.underline,
h1.page-title.underline {
    border-bottom: 2px solid #820505;
}

/* Layout
 */

#layout-wrap.one-sidebar #main-content {
    margin-left: 0;
    margin-right: 0;
    width: 740px;
    border: none;
}

#main-content .content-inner {
    padding: 20px 0;
}

#layout-wrap.one-sidebar #first-sidebar {
    margin-top: 225px;
    border: none;
    width: 240px;
}

#layout-wrap.one-sidebar #first-sidebar .sidebar-inner {
    padding-left: 30px;
}

#layout-wrap.one-sidebar #first-sidebar .portlet {
    width: 210px;
}

#layout-wrap.one-sidebar ul.tabs {
    width: 980px;
}

ul.tabs {
    display: block;
    background: #820505;
    border: none;
    padding: 0;
    height: 35px;
}

ul.tabs li {
    float: left;
    height: 35px;
}

ul.tabs li:hover,
ul.tabs li.current {
    border: none;
    background: #952d2d;
}

ul.tabs li a,
ul.tabs li.current a {
    position: static;
    display: block;
    padding: 0 15px;
    min-width: 100px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: normal;
    line-height: 35px;
    text-align: center;
    background: none;
    border-right: 1px solid #d45500;
}

/* Header
 */

.anonymous #header #header-inner *,
#header #header-inner * {
    display: none;
}

.anonymous #header,
#header {
    height: 125px;
    background: white;
    padding: 0;
    border-bottom: 6px solid #820505;
}

.anonymous #header #header-inner,
#header #header-inner {
    width: 980px;
    height: 125px;
    background: url("header-bg.png") no-repeat center center;
    padding: 0;
}

/* FOOTER
 */

#footer {
    width: 100%;
    border-top: 2px solid #820505;
}

#footer #footer-inner {
    width: 980px;
    margin: auto;
}

/* PORTLETS
 */

.portlet .portlet-inner {
    border: none;
}

.portlet .header {
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    color: #820505;
    border-bottom: 1px solid #820505;
}

#related-links-portlet .content {
    border: 1px solid #ddd;
    margin-top: 5px;
    padding: 5px 8px;
}

#related-links-portlet #related-links-list li {
    margin: 5px 0;
    padding-left: 18px;
}

#powered-by-ututi-portlet .content {
    padding: 10px 0 5px 0;
    border-top: 1px solid #820505;
    border-bottom: 1px solid #820505;
}

#login-portlet .textField input {
    width: 190px;
}

#login-portlet button.submit {
    font-weight: bold;
}

#login-portlet .error-message {
    color: #820505;
}

/* WIKI PAGES
 */

.wiki-page {
    color: #333;
}

    .wiki-page h2 {
        display: inline-block;
        margin-bottom: 0;
        border-bottom: 1px solid #820505;
        font-size: 14px;
        font-weight: normal;
    }

/* TEACHER INFORMATION BLOCK
 */

#user-information {
    margin-top: 0 !important;
}

#user-information .user-info {
    width: 500px;
    max-width: 500px;
    margin-right: 0px;
}

#user-information .user-logo-container {
    margin-right: 25px !important;
}

#user-information #user-logo {
    width: 150px !important;
    height: 150px !important;
}


#user-information .user-info .teacher-name {
    display: block;
    margin-top: -5px;
    margin-bottom: 2px;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.25pt;
}

#user-information .user-info .teacher-position {
    font-size: 14px;
    margin-bottom: 5px;
}

#user-information .user-info .teacher-location {
    margin-bottom: 5px;
}

#user-information .user-info #teacher-contact-information li {
    background: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
}

#user-information .user-info #teacher-contact-information .label {
    margin-right: 10px;
}

/* TAUGHT COURSES LIST
 */

#taught-courses-list {
    background: none;
    padding-left: 0;
    margin-top: 0;
    margin-left: 5px;
}

#taught-courses-list .title {
    display: none;
}

#taught-courses-list .snippet-subject {
    background: none;
    padding-left: 0;
}

#taught-courses-list .snippet-subject .item-title {
    font-size: 14px;
}
