/* Header
 */

#anonymous-header {
    background: #333 url('img/header.png') no-repeat center top;
    height: 60px;
    width:100%;
    min-width: 980px;
}

    #anonymous-header #header-container {
        width: 940px;
        height: 60px;
        padding: 10px 20px 0;
        margin: auto;
    }

    #anonymous-header #slogan {
        color: #ff9900;
        font-size: 16px;
        display: inline;
        padding-left: 5px;
        font-weight: normal;
    }

/* Navitation
 */

#nav {
    margin-left: 110px;
    display: inline;
}

.header-links {
    color: #fff;
    font-size: 13px;
    display: inline;
    margin: 0px 10px;
}

#login-link {
    font-weight: bold;
}

#nav a {
    text-decoration: none;
    color: #fff;
}

#nav a:hover {
    color: #ff9900;
}

/* Main area
 */

#sign-up {
    width: 100%;
    height: 265px;
    background: #3d617a url("/img/bg_blue_repeat.png") repeat-x left bottom;
}

#sign-up-inner {
    width: 100%;
    height: 265px;
    margin: auto;
    background: url("/img/bg_blue.png") no-repeat center bottom;
}

.error span {
    display: none;
}

#sign-in-area {
    width: 920px;
    height: 265px;
    margin: auto;
    position: relative;
}

    #sign-in-area h1 {
        color: white;
        font-size: 18px;
        max-width: 550px;
        padding-top: 45px;
        padding-bottom: 15px;
    }

    #sign-in-area .message-container {
        height: 20px;
    }

    #sign-in-area #sign-up-form {
        width: 620px;
    }

    #sign-in-area #register-fieldset {
        border: 0px;
        padding: 5px 0 12px 0;
        position: relative;
    }

    #sign-in-area label.over {
        font-size: 18px !important;
        color: #999;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    #sign-in-area input {
        border: 1px solid #999 !important;
        background-color: white !important;
        height: 20px !important;
        width: 360px !important;
        font-size: 18px !important;
        padding: 10px 15px !important;
        color: #666;
        display: inline;
    }

    #sign-in-area .submit {
        display: inline;
        height: 42px;
        width: auto;
        color: #ffffff;
        background-color: #ff9900; /* Orange */
        border: 1px solid #666666;
        font-size: 20px !important;
        font-weight: bold !important;
        padding: 0 15px !important;
        margin: 0 0 0 15px !important;
        box-shadow: 3px 3px 10px #333;
        -moz-box-shadow: 3px 3px 10px #333;
        -webkit-box-shadow: 3px 3px 10px #333;
    }

    #sign-in-area .error-container {
        margin-left: 0;
    }

    #sign-in-area .error-message {
        font-size: 12px;
        color: #fff;
    }

    #sign-in-area .notice {
        background: url("img/important.png") no-repeat left top;
        color: #fff;
        padding-left: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 12px;
    }

button#learn-more {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 25px;
    position: absolute;
    right: 45px;
    bottom: 35px;
    box-shadow: 3px 3px 10px #333;
    -moz-box-shadow: 3px 3px 10px #333;
    -webkit-box-shadow: 3px 3px 10px #333;
    background-image: url('img/buttons/bg_big_grey.png');
    max-height: 34px !important;
}

button#learn-more:hover {
    background-image: url('img/buttons/hover_big_grey.png');
}

#about {
    width: 100%;
    background: #fff;
}

    #about #about-inner {
        width: 920px;
        margin: auto;
        padding: 20px 0;
    }

    #about p {
        color: #666;
        font-size: 12px;
    }

    #about p strong {
        color: #333;
        font-size: 13px;
    }

    #about #features {
        float: left;
        width: 530px;
        padding-right: 50px;
    }

    #about .feature {
        min-height: 60px;
        padding-left: 100px;
        margin-bottom: 10px;
        background-position: left top;
        background-repeat: no-repeat;
    }

    #about .feature#discussions {
        background-image: url('/img/icons.com/about/frontpage/discussions.png');
    }

    #about .feature#social-network {
        background-image: url('/img/icons.com/about/frontpage/social_network.png');
    }

    #about .feature#personal-websites {
        background-image: url('/img/icons.com/about/frontpage/sharing.png');
    }

    #about #using-ututi {
        float: left;
        width: 320px;
    }

    #about h2 {
        font-size: 18px;
        font-weight: bold;
        color: #666;
        width: 100%;
    }
