
#search_portlet-content input {
   width: 180px;
}

.search_block, .book-form-block {
    background-color: #F6F6F6;
    background-position: 23px 5px;
    margin-bottom: 24px;
    margin-top: 15px;
    margin-right: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
}


/* Books base */
#books-header-search {
    position: absolute;
    right:0;
    top:17px;
}

#books-container #mainContent {
    margin: 0 0 0 20px;
    width: 656px;
}

#books-container #aside {
    margin: 0px;
}

.books-header, #search_results_header {
    background: #f1f1f1;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
}

#search_results_header H2, .books-header h2 {
    float: left;
}

.books-header .title{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

#search_results_header #city_select_dropdown, .books-header #city_select_dropdown {
    float: right;
}

/*Books form*/

.book-form-block{
    margin-top:7px;
    border-bottom: 1px solid #DED8D8;
}

h1.book-form-title{
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.rounded-block.book-form-block {
    background-color: #FFF;
    margin-top: 0px;
    padding-top:1px;
}

.portlet.book-form-block {
    margin-bottom: 0px;
}
.book-form-block .submit-button{
    bottom: 24px;
    position: absolute;
    right: 15px;
}

.book-form-field-block{
    display: inline-block;
    margin: 10px 0 0 0;
}

.book-form-field-block select{
    width: 280px;
}

.book-form-field-block.odd-field-block{
    margin-right: 30px;
}


label.department-field-select-block{
    margin-right:30px;
}

.comment-field-block .textField{
    width: 585px;
}

.comment-field-block textarea{
    width: 580px;
    background-image: url("img/textarea_bg_wide.png");
}

label input.wide{
    background-image: url("img/inputs_bg_wide.png");
    width: 580px;
}

.book-logo-block, .main-book-fields-block{
    display: inline-block;
    width: 298px;
}

.book-logo-block{
    vertical-align:top;
    text-align: right;
}

.book-logo-block a.back-link{
    background: url("../images/details/link_back_trn.png") no-repeat scroll left center transparent;
    padding-left: 35px;
}

.book-logo-block img.book_image{
    margin-top: 20px;
    margin-right: 45px;
}

.book-logo-block .detele-logo-field{
    margin-left: 135px;
    margin-top: 5px;
    text-align:left;
}
/* Book information */

.book-information{
    margin-top: 30px;
}

.book-information .book-title{
    color:#666666;
    font-weight:bold;
}

.book-information .book-cover{
    display:inline-block;
    vertical-align:top;
    width:90px;
    height: 120px;
}

.book-information .book-textual-info{
    display:inline-block;
    width:560px;
    vertical-align:top;
}

.book-information .book-author, .book-information .book-description{
    color: #b0b0b0;
}

.book-information .book-city-label{
    font-weight: bold;
}

.book-information .book-city-label, .book-information .book-city-name{
    color: #4e4e4e;
}

.book-information .book-price-label{
    font-size: 16px;
    font-weight: bold;
}

.book-information .book-price{
    color: #999999;
    font-size: 16px;
}

/*My books*/
.my-books-content h1{
    color:#666666;
}
.my-books-content .user-name{
    margin-right: 20px;
    font-weight: bold;
}
.my-books-content .user-name, .my-books-content .owned-books-number{
    color: #666666;
    font-size: 14px;
}

.my-books-content .edit-button-container{
    text-align: right;
}

.my-books-content button.btn span {
padding:3px 15px 0 30px;
}

/* Books menu */
div.action-portlet #button-to-school-books_content,
div.action-portlet #button-to-university-books_content,
div.action-portlet #button-to-other-books_content{
    padding: 0;
}

.book_types{
    border: 2px solid gray;
}
ul.book_types li{
    border-bottom: 1px solid gray;
    margin-left: 0;
    list-style: none outside none;
}
#button-to-school-books_content .show,
#button-to-university-books_content .show,
#button-to-other-books_content .show{
    background: white;
}

.book_types a{
    color: darkGray;
}


/*Books catalog*/
.filter-list-item{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    width: 315px;
}
.books-number{
    color: gray;
}

a.order-criteria{
    color: #666666;
    font-size: 16px;
    display: inline-block;
    margin-left: 40px;
}

.ordering{
    margin-bottom: 40px;
}

.book-breadcrumbs{
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.book-breadcrumbs a{
    font-size: 14px;
    font-weight: normal;
}

/* Books catalog + frontpage */
#what_is_ubooks {
    background: url("../images/books/books-welcome-background.png") no-repeat scroll left center transparent;
    width: 610px;
    height: 120px;
    padding: 20px;
}

#what_is_ubooks h3 {
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 20px;
}

#what_is_ubooks .button-right {
    text-align: right;
    margin-top: -50px;
    margin-right: 10px;
}
#what_is_ubooks .ubooks_explanation {
    margin-left: 90px;
    margin-top: 10px;
    list-style: none;
}

#what_is_ubooks .ubooks_explanation li {
    background: url("images/bullet_orange_small.png") no-repeat;
    padding-left: 20px;
    color: #666666;
    font-size: 14px;
    line-height: 1.7;
}

/* Buttons */

button.btn,
button.btnMedium,
button.btnLarge {
    position: relative;
    font-family: arial, sans-serif;
    border: 0;
    padding: 0;
    cursor: pointer;
    overflow: visible; /* removes extra side padding in IE */
}

button.btn::-moz-focus-inner,
button.btnMedium::-moz-focus-inner,
button.btnLarge::-moz-focus-inner {
    border: none;  /* overrides extra padding in Firefox */
    padding: 0;
}

button.btn span,
button.btnMedium span,
button.btnLarge span {
    position: relative;
    display: block;
    transparent-space: nowrap;
    color: #333;
    white-space: nowrap;
}

button.btn:hover span,
button.btnMedium:hover span,
button.btnLarge:hover span {
    color: black;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    button.btn span,
    button.btnMedium span,
    button.btnLarge span {
        margin-top: -1px;
    }
}

button.btn {
    padding: 0 15px 0 0;
    margin-right: 5px;
    font-size: 13px;
    text-align: center;
    background: transparent url("img/buttons_bg_split.png") no-repeat right -110px;
}

button.btn span {
    padding: 3px 0 0 15px;
    height: 20px;
    background: transparent url("img/buttons_bg_split.png") no-repeat left top;
}

/* * html button.btn span { height: 23px; } */

button.btnMedium {
    padding: 0 15px 0 0;
    font-size: 16px;
    text-align: center;
    background: transparent url("img/buttons_bg_split.png") no-repeat right -138px;
}

button.btnMedium span {
    padding: 7px 0 0 15px;
    height: 26px;
    background: transparent url("img/buttons_bg_split.png") no-repeat left -28px;
}

/* * html button.btnMedium span { height: 31px; } */

button.btnLarge {
    padding: 0 15px 0 0;
    margin-right: 5px;
    font-size: 20px;
    text-align: center;
    background: transparent url("img/buttons_bg_split.png") no-repeat right -180px;
}

button.btnLarge span {
    padding: 6px 0 0 15px;
    height: 32px;
    background: transparent url("img/buttons_bg_split.png") no-repeat left -70px;
}
