/* ROUNDED BLOCKS
 */

.rounded-block {
    background-repeat: no-repeat;
    border-left: 1px solid #ded8d8;
    border-right: 1px solid #ded8d8;
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    position: relative;
    _margin-bottom: 15px; /* IE6 */
    _margin-top: 15px; /* IE6 */
    _padding: 10px; /* IE6 */
    _border: 1px solid #ded8d8; /* IE6 */
}

    .rounded-block .block-content {
        padding: 5px 10px;
    }

    .rounded-block .ctl,
    .rounded-block .ctr,
    .rounded-block .cbl,
    .rounded-block .cbr {
        background-image: url('img/portlets_bg.png');
        background-repeat: no-repeat;
        display: block;
        font-size: 2px;
        height: 5px;
        position: absolute;
        _display: none; /* IE6 */
    }

    .rounded-block .ctl {
        background-position: left top;
        left: -1px;
        right: 4px;
        top: -5px;
        _width: 100%; /* IE6 */
    }

    .rounded-block .ctr {
        background-position: right top;
        right: -1px;
        top: -5px;
        width: 5px;
    }

    .rounded-block .cbl {
        background-image: url('img/portlets_bg_white.png');
        background-position: left -5px;
        bottom: -5px;
        left: -1px;
        right: 4px;
    }

    .rounded-block .cbr {
        background-image: url('img/portlets_bg_white.png');
        background-position: right -5px;
        bottom: -5px;
        right: -1px;
        width: 5px;
    }

/* STANDARD ITEM LIST
 */

.item-list { }

    .item-list .large-header {
        height:40px;
        position:relative;
    }

    .item-list .large-header h2 {
        float: left;
        margin: 9px 0 0 10px;
    }

        .item-list .large-header .header-button {
            position: absolute;
            right: 5px;
            top: 9px;
        }

        .item-list .large-header .header-link {
            font-weight: normal;
            font-size: 11px;
        }

    .item-list .row,
    .item-list .footer {
    }

    .item-list .row {
        border-bottom: 1px solid #ded8d8;
    }

        .item-list .row.last {
            border-bottom: 0 none;
        }

        .item-list.with-footer .row.last {
            border-bottom: 1px solid #ded8d8;
        }

/* STANDARD PORTLETS.
 */

.standard-portlet {
    padding: 5px 25px;
    color: #666;
}

        /* Fix color of bottom roundings */
        .standard-portlet.with-shade .cbl,
        .standard-portlet.with-shade .cbr {
            background-image: url('img/portlets_bg_gray.png');
        }

    .standard-portlet h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .standard-portlet p {
        margin: 5px 0px;
    }

    .standard-portlet.icon-subject-orange {
        background-image: url('images/details/icon_subject_orange.png');
        background-position: 10px 5px;
        background-repeat: no-repeat;
        padding-left: 70px;
    }
    
    .standard-portlet.icon-group-gray {
        background-image: url('images/details/icon_group_42x35.png');
        background-position: 15px 5px;
        background-repeat: no-repeat;
        padding-left: 70px;
    }
    
    .standard-portlet button {
        margin-top: 10px;
    }

/* NEW STYLE FORMS.
 * "new-style-form" is a namespace for now.
 */

.new-style-form {
}

    .new-style-form span.labelText,
    .new-style-form span.inputField,
    .new-style-form span.helpText {
        display: block;
    }

    .new-style-form span.labelText {
        font-weight: bold;
        margin: 10px 0px 2px 0px;
    }

    .new-style-form span.helpText {
        color: #666;
        font-size: 10px;
    }

    .new-style-form input[type='text'],
    .new-style-form input[type='password'],
    .new-style-form textarea,
    .new-style-form span.helpText {
        width: 300px;
    }

    .new-style-form button {
        margin-top: 20px;
    }

    .new-style-form .rightNext {
        margin-left: 15px;
    }

    .new-style-form .rightNext button {
        margin-top: -1px;
    }

    .new-style-form button.btn-text {
        /* pretending to look like simple link */
        background: none;
        border: none;
        cursor: pointer;
        color: #d45500;
        font: 13px normal Arial, Helvetica, sans-serif; 
    }

    .new-style-form button.btn-text:hover span {
        text-decoration: underline;
    }

    .new-style-form span.field-status {
        display: block;
        margin-top: 2px;
        /* should attract attention */
        color: #d45500;
        font-size: 10px;
    }

    .new-style-form span.field-status.confirmed {
        /* should bring peace  */
        color: #666;
        background: url(img/icons/tick_10.png) no-repeat left center;
        padding-left: 12px;
        font-style: italic;
    }

/* SUBJECT ADD PAGE STYLE
 * A lot of it should be later generalized for other views.
 */

#subject-add-page {
    color: #4d4d4d;
}

    #subject-add-page .left-panel,
    #subject-add-page .right-panel {
        background: #f8f8f8;
        border: 1px solid #ded8d8;
        padding: 15px 20px;
        margin: 20px 0px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        min-height: 560px;
    }

    #subject-add-page .left-panel {
        width: 480px;
    }

    #subject-add-page .right-panel {
        width: 350px;
    }

    #subject-add-page .separator {
        display: inline-block;
        width: 24px;
        min-height: 560px; /* equals min-height of left and right panels. */
        margin: 10px;
    }

    #subject-add-page #location-preview {
        display: none; /* initially hidden */
    }

    #subject-add-page h1.page-title {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }

    #subject-add-page p {
        margin: 10px 0px;
    }

    #subject-add-page label {
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }

        #subject-add-page .check-field label {
            font-weight: normal;
        }

    #subject-add-page input {
        margin: 0;
    }

    #subject-add-page textarea#description {
        width: 460px;
    }

    #subject-add-page #cke_description {
        /* Fighting the RTE!
         */
        width: 470px !important;
    }

    #subject-add-page #submit-button {
        margin-top: 20px;
    }

    #subject-add-page #cancel-button {
        display: inline-block;
        line-height: 26px; /* matches btnMedium height */
        margin-left: 20px;
    }

    #subject-add-page #similar-subjects,
    #subject-add-page #warning-text {
        display: none;
    }

    #subject-add-page #warning-text {
        border: 1px dashed #D45500;
        padding: 10px;
        margin: 10px 0px;
    }

        #subject-add-page.with-similar-subjects #similar-subjects,
        #subject-add-page.with-similar-subjects #warning-text {
            display: block;
        }

        #subject-add-page.with-similar-subjects #default-text {
            display: none;
        }

        #subject-add-page.with-similar-subjects .separator {
            background: url(img/icons/arrows_right.png) no-repeat left center;
        }

/* TEACHER REGISTRATION PAGE
 */

#teacher-registration-page {
    color: #4d4d4d;
    padding: 50px 0px;
}

    #teacher-registration-page .two-panel-layout {
        text-align: center;
    }

        #teacher-registration-page .two-panel-layout .left-panel,
        #teacher-registration-page .two-panel-layout .right-panel {
            background: url(img/faded-box-400px.png) no-repeat left bottom;
            width: 320px;
            min-height: 350px;
            padding: 10px 40px;
            text-align: left; /* Reset centering */
        }

        #teacher-registration-page .two-panel-layout.with-right-panel .left-panel {
            border: none;
            margin-right: 50px;
        }

    #teacher-registration-page h1.page-title {
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }

    #teacher-registration-page p {
        margin: 10px 0px;
    }

    #teacher-registration-page ul.feature-list li {
        /* Diferrent than standard spacing. */
        margin-bottom: 20px; 
        padding-left: 80px;
    }


/* SIMPLE LISTS
 * Simple list styles that provide bullet images and spacing.
 */

ul.teacher-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.teacher-list li {
        background: url(img/icons/teacher_small.png) no-repeat left center;
        padding-left: 12px;
        margin: 2px 0px;
    }

ul.pros-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.pros-list li {
        background: url(img/icons/tick_big.png) no-repeat left center;
        padding-left: 24px;
        margin: 2px 0px;
    }

ul.feature-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.feature-list li {
        padding-left: 60px;
        min-height: 40px;
        margin: 20px 0px 40px 0px;
    }

    ul.feature-list li.wiki {
        background: url(img/icons/features/wiki.png) no-repeat left 5px;
    }

    ul.feature-list li.group {
        background: url(img/icons/features/group.png) no-repeat left 5px;
    }

    ul.feature-list li.file-sharing {
        background: url(img/icons/features/file_sharing.png) no-repeat left 5px;
    }

    ul.feature-list li.dialog {
        background: url(img/icons/features/dialog.png) no-repeat left 5px;
    }

    ul.feature-list li.contact-groups {
        background: url(img/icons/features/contact_groups.png) no-repeat left 5px;
    }

    ul.feature-list li.sms {
        background: url(img/icons/features/sms.png) no-repeat left 5px;
    }

    ul.feature-list li.teacher-profile {
        background: url(img/icons/features/teacher_profile.png) no-repeat left 5px;
    }

/* UTUTI OBJECT DESCRIPTION
*/
.u-object {
    position: relative;
}

.u-object dt, .u-object dd {
    display: inline;
}

.u-object .hide_me {
  position: absolute;
  right: -10px;
  top: 10px;
  display: none;
  width: 15px;
  height: 15px;
}

.row:hover .u-object .hide_me {
  display: block;
}


/* SUBJECT DESCRIPTION
 */

.subject-description {
    color: #666666;
    font-size: 11px;
    padding: 10px 15px 10px 30px;
    background: url("img/icons/dalykas-very-small.png") no-repeat 10px 10px;
}

    .subject-description.save-space-right {
        padding-right: 0;
    }

    .subject-description dt {
        font-weight: bold;
        font-size: 13px;
        margin-right: 10px;
    }

    .subject-description dd {
        margin-right: 15px;
    }

    .subject-description dd.location-tags {
        margin-right: 0px; /* Lecturer follows */
    }

    .subject-description dd.files {
        padding-left: 18px;
        background: url('img/icons/files_13.png') no-repeat left center;
    }

    .subject-description dd.pages {
        padding-left: 18px;
        background: url('img/icons/pages_13.png') no-repeat left center;
    }

    .subject-description dd.watch-count {
        padding-left: 18px;
        background: url('img/icons/watching_13.png') no-repeat left center;
    }

    .subject-description .unwatch-button,
    .subject-description .unteach-button {
        float: right;
        display: none;
    }

    .subject-description .button-to {
        float: right;
    }

    .subject-description:hover .unwatch-button,
    .subject-description:hover .unteach-button {
        display: block;
    }

/* GROUP DESCRIPTION
 */
.group-description {
    color: #666666;
    font-size: 11px;
    padding: 10px 15px 10px 15px;
}

    .group-description dd {
       display: inline;
    }

    .group-description .logo {
        float: left;
        width: 45px;
    }

    .group-description .group-title {
        float: left;
    }

    .group-description .group-title dt {
        font-size: 16px;
        font-weight: bold;
        color: #d45500;
    }

    .group-description .group-title .group-email {
        color: #888;
    }

    .group-description .group-actions {
        clear: left;
        padding-top: 15px;
    }

    .group-description .location-tags {
        display: inline;
        font-size: 14px;
        margin-left: 10px;
    }

    .group-description  .edit_group {
        cursor: pointer;
    }

    .group-description .group-actions dd {
        margin-right: 3px;
        margin-right: 15px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .group-description .group-actions dd a {
        font-size: 10px;
        color: #668000;
    }

        .group-description dd.files {
            background: url('img/icons/file-off-small.png') no-repeat left;
        }

        .group-description dd.messages {
            background: url('img/icons/message-off-very-small.png') no-repeat left;
        }

        .group-description dd.subjects {
            background: url('img/icons/dalykas-very-small.png') no-repeat left;
        }

/* GENERAL TWO PANEL LAYOUT
 */

.two-panel-layout { }

    .two-panel-layout .left-panel,
    .two-panel-layout .right-panel {
        vertical-align: top;
       *display: inline; /* IE7 */
       *zoom: 1;         /* IE7 */
    }

    .two-panel-layout .left-panel {
        display: inline-block;
        width: 100%;
    }

    .two-panel-layout .right-panel {
        display: hidden;
    }

    .two-panel-layout.with-right-panel .left-panel {
        width: 480px;
        border-right: 1px solid #e9e6e6;
    }

    .two-panel-layout.with-right-panel .right-panel {
        display: inline-block;
        width: 400px;
    }

/* COMMON LOOKS
 */

.location-tags, .location-tags a {
    color: #668000;
    text-transform: uppercase;
}

/* UTILITY CLASSES
 */

.with-shade {
    background-color: #f6f6f6;
}

.with-bottom-line {
    border-bottom: 1px solid #DED8D8;
}

.with-top-line {
    border-top: 1px solid #DED8D8;
}

.small-text {
    font-size: 11px;
}

.tiny-text {
    font-size: 10px;
}

.grey-text {
    color: #666;
}

/* FLASH MESSAGE
 */
/* flash messages */
.flash-message,
.action-reply {
    border: 1px solid #FF7800;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background: white url("../images/details/icon_usmall.png") 10px center no-repeat;
    margin: 5px 0 0.8em;
    padding: 0.6em 3em 0.6em 35px;
    position: relative;
    font-size: 14px;
    color: #666;
}

    .flash-message .close-link {
        position: absolute;
        top: 5px; right: 10px;
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    .message {
        color: #333333;
    }


/* IN-ELEMENT FORM
   (a small form shown e.g. in dashboard actions)
 */
    .inelement-form .send-message {  }

        .inelement-form .wide-input {
            width: 350px;
        }

        .inelement-form .labelText {
            margin-right: 15px;
        }

        .inelement-form .formField {
            width: 500px;
            margin: 5px 0;
        }

        .inelement-form .formField label {
            margin: 5px 0;
            float: right;
        }

        .inelement-form textarea {
          border: 1px solid #888;
          background: white;
          width: 500px;
          margin: 5px 50px;
        }

        .inelement-form .formSubmit {
            float: right;
            margin: 5px 50px;
        }

/* CLICK ACTION BLOCKS
 a pattern-in-progress: click-action opens an associated click-action-block,
  maintaining that one block of a group is shown at a time
 */
.click-action-block {
    display: none;
}
    .click-action-block.open { display: block; }
