/* GENERAL STYLES
 */

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #f0f0f0;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #333333;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}

p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    margin: 10px 0px;
}

p.warning {
    color: #990000;
}

p.light {
    color: #999;
}

a {
    color: #3d617a;
    text-decoration: none;
}

a:hover {
    color: #6099cc;
    text-decoration: none;
}

a.inactive:hover {
    text-decoration: none;
    color: inherit;
}

.link-color {
    color: #3d617a;
}

table th {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.tip {
    font-size: 11px;
    color: #999;
    padding-bottom: 5px;
}

/* BUTTONS
 */

button {
    /* default button look */
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #666666;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 8px;
    background: #ff9900 url('img/buttons/bg_small_orange.png') repeat-x left bottom;
}

button:hover {
    background-image: url('img/buttons/hover_small_orange.png');
}

button.submit {
    /* don't inline submit buttons */
    display: block;
    margin-top: 25px;
}

button.inline {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

button.dark {
    /* dark version of the button */
    color: #ffffff;
    padding: 0px 8px;
    border: 1px solid #666666;
    font-weight: normal;
    background: #333 url('img/buttons/bg_small_grey.png') repeat-x left bottom;
    height: 21px !important;
    overflow: hidden;
}

button.dark:hover {
    background-image: url('img/buttons/hover_small_grey.png');
}

button.add {
    padding-left: 15px;
    background-image: url('img/buttons/bg_add_orange.png');
}

button.add:hover {
    background-image: url('img/buttons/hover_add_orange.png');
}


button.dark.add {
    padding: 0 8px 0 16px;
    background-image: url('img/buttons/bg_add_grey.png');
}

button.dark.add:hover {
    background-image: url('img/buttons/hover_add_grey.png');
}

button.dark.edit {
    padding: 0 8px 0 16px;
    background-image: url('img/buttons/bg_edit_grey.png');
}

button.dark.edit:hover {
    background-image: url('img/buttons/hover_edit_grey.png');
}

button.btn-text {
    /* pretending to look like simple link */
    background: none;
    border: none;
    cursor: pointer;
    color: #3d617a; /* link color */
    font: 12px normal Verdana, Arial, sans-serif;
}

div.back-link {
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 4px;
}

a.back-link {
    padding-left: 18px;
    background: url("/img/icons.com/back.png") left center no-repeat;
}

a.settings-link {
    padding-left: 14px;
    background: url('/img/icons.com/settings.png') no-repeat left center;
}

/* LAYOUT ELEMENTS
 */

h1.page-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.above-page-title {
    /* container that may be placed above page title */
    text-align: right;
    margin-top: 20px;
    margin-bottom: -24px;
}

h1.underline,
h2.underline {
    border-bottom: 1px solid #ff9900;
    padding-bottom: 2px; /* some spacing for border */
}

h2.single-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* STATIC CONTENT
 */

.static-content {}

    .static-content h2 {
        font-weight: bold;
    }

/* ROUNDED BLOCKS
 */

.rounded-block {
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    border-left: 1px solid #ded8d8;
    border-right: 1px solid #ded8d8;
    margin-bottom: 15px;
    margin-top: 20px;
    position: relative;
    max-width: 760px;
    _margin-bottom: 15px; /* IE6 */
    _margin-top: 15px; /* IE6 */
    _padding: 10px; /* IE6 */
    _border: 1px solid #ded8d8; /* IE6 */
}

    .rounded-block .block-content {
        padding: 5px 10px;
    }

    .rounded-block .ctl,
    .rounded-block .ctr,
    .rounded-block .cbl,
    .rounded-block .cbr {
        background-image: url('img/portlets_bg.png');
        background-repeat: no-repeat;
        display: block;
        font-size: 2px;
        height: 5px;
        position: absolute;
        _display: none; /* IE6 */
    }

    .rounded-block .ctl {
        background-position: left top;
        left: -1px;
        right: 4px;
        top: -5px;
        _width: 100%; /* IE6 */
    }

    .rounded-block .ctr {
        background-position: right top;
        right: -1px;
        top: -5px;
        width: 5px;
    }

    .rounded-block .cbl {
        background-image: url('img/portlets_bg.png');
        background-position: left -5px;
        bottom: -5px;
        left: -1px;
        right: 4px;
    }

    .rounded-block .cbr {
        background-image: url('img/portlets_bg.png');
        background-position: right -5px;
        bottom: -5px;
        right: -1px;
        width: 5px;
    }

/* STANDARD ITEM LIST
 */

.single-title {
    background: none;
    border-bottom: 1px solid #FF9900;
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
}

.light-table {}
    .light-table.rounded-block .cbl,
    .light-table.rounded-block .cbr {
        background-image: url('img/portlets_bg_white.png');
    }


    .light-table table.content {
        background: white;
    }

.item-list { }

    .item-list.rounded-block .cbl,
    .item-list.rounded-block .cbr {
        background-image: url('img/portlets_bg_white.png');
    }

    .item-list .large-header {
        height:40px;
        position:relative;
    }

    .item-list .large-header h2 {
        float: left;
        margin: 9px 0 0 10px;
    }

        .item-list .large-header .header-button {
            position: absolute;
            right: 5px;
            top: 6px;
        }

        .item-list .large-header .header-link {
            font-weight: normal;
            font-size: 11px;
        }

    .item-list .row,
    .item-list .footer {
        background-color: white;
    }

    .item-list .row {
        border-bottom: 1px solid #ded8d8;
    }

        .item-list .row.last {
            border-bottom: 0 none;
        }

        .item-list.with-footer .row.last {
            border-bottom: 1px solid #ded8d8;
        }


/* STANDARD PORTLETS.
 */

.standard-portlet {
    padding: 5px 25px;
    color: #666;
}

        /* Fix color of bottom roundings */
        .standard-portlet.with-shade .cbl,
        .standard-portlet.with-shade .cbr {
            background-image: url('img/portlets_bg_gray.png');
        }

    .standard-portlet h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .standard-portlet p {
        margin: 5px 0px;
    }

    .standard-portlet.icon-subject-orange {
        background-image: url('images/details/icon_subject_orange.png');
        background-position: 10px 5px;
        background-repeat: no-repeat;
        padding-left: 70px;
    }

    .standard-portlet.icon-group-gray {
        background-image: url('images/details/icon_group_42x35.png');
        background-position: 15px 5px;
        background-repeat: no-repeat;
        padding-left: 70px;

    }

    .standard-portlet button {
        margin-top: 10px;
    }

/* FORMS.
 */

input {
    margin: 0;
}

form {
}

    form .formField {
        margin-bottom: 10px;
    }

    form span.labelText,
    form span.inputField,
    form span.radioField,
    form span.helpText {
        display: block;
    }

    form span.labelText {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    form span.helpText {
        width: 300px; /* equals input width */
        color: #666;
        font-size: 11px;
        margin-top: 2px;
    }

    form span.radioField label {
        display: block;
        margin: 5px 0px;
    }

    form span.radioField label input {
        margin-right: 2px;
    }

    form div.error-container {
        display: inline;
        margin-left: 15px;
    }

    form.narrow div.error-container {
        /* For narrow forms we don't want to inline error messages
         * with input fields.
         */
        display: block;
        margin-left: 0px;
    }

    form .error-message {
        padding-top: 5px;
        font-size: 11px;
        color: #990000;
        line-height: 20px;
    }

    #sign-up-form .error-message a {
        color: #FFAA00;
    }

    form .textarea span.error-message {
        display: block;
    }

    .textField input,
    form input[type='text'],
    form input[type='password'],
    form textarea {
        width: 290px;
        font-size: 11px;
        height: 20px;
        border: 1px solid #666666;
        padding: 0 5px;
        background: none;
    }

    form select {
        width: 200px;
        font-size: 11px;
    }

    form textarea {
        height: 80px;
    }

    form .rightNext {
        margin-left: 15px;
    }

    form .rightNext button {
        margin-top: -1px;
    }

    form .formField.checkbox input {
        margin-right: 5px;
    }

    form .formField.checkbox .labelText {
        display: inline;
        font-weight: normal;
        position: relative;
        top: -2px;
    }


/* SOME ADJUSTMENTS FOR CKE EDITOR AND TAG WIDGET */

.cke_skin_kama {
    padding: 0 !important;
    width: 560px;
}

.tag-widget {
    width: 560px;
}

/* INLINE FORMS
 */

form.inline-form,
form.inline-form div,
form.inline-form button {
    display: inline;
}

/* SIGN UP FORM
 */

#sign-up-form {
    width: 620px;
    margin-bottom: 20px;
}

    #sign-up-form .message-container {
        height: 20px;
    }

    #sign-up-form fieldset {
        border: 0px;
        padding: 5px 0 12px 0;
        position: relative;
    }

    #sign-up-form label,
    #sign-up-form label.over {
        font-size: 18px !important;
        color: #999;
        position: absolute;
        top: 10px;
        left: 15px;
    }

    #sign-up-form input {
        border: 1px solid #999 !important;
        background-color: white !important;
        height: 20px !important;
        width: 360px !important;
        font-size: 18px !important;
        padding: 10px 15px !important;
        color: #666;
        display: inline;
    }

    #sign-up-form .submit {
        display: inline;
        height: 42px;
        width: auto;
        color: #ffffff;
        background-color: #ff9900; /* Orange */
        font-size: 20px !important;
        font-weight: bold !important;
        padding: 0 15px !important;
        margin: 0 0 0 15px !important;
        border: 1px solid #f90;
    }

        #sign-up-form.light .submit {
            border: 1px solid #666666;
            box-shadow: 3px 3px 10px #333;
            -moz-box-shadow: 3px 3px 10px #333;
            -webkit-box-shadow: 3px 3px 10px #333;
        }

    #sign-up-form .submit:hover {
        background: url("img/buttons/hover_big_orange.png") repeat-x scroll left bottom #FF9900;
    }

    #sign-up-form .error-container {
        margin-left: 0;
    }

    #sign-up-form .error-message {
        font-size: 12px;
    }

    #sign-up-form .notice {
        background: url("img/important.png") no-repeat left top;
        color: #999;
        padding-left: 25px;
        margin-top: 10px;
        font-size: 12px;
        width: 500px;
    }

        #sign-up-form.light .error-message,
        #sign-up-form.light .notice {
            color: #fff;
        }

/* THE NEW WALL STYLE
 */

.wall {
}

    .wall .wall-entry {
        border-bottom: 1px solid #ddd;
        font-size: 11px;
    }

        .wall .wall-entry .event-heading {
            padding: 5px 5px 5px 20px;
            background: url("/img/icons.com/event.png") no-repeat left 5px;
        }

        .wall .wall-entry.no-icon .event-heading {
            padding: 5px 5px 5px 0;
            background: none;
        }

        .wall .wall-entry.minimizable .event-heading {
            cursor: pointer; /* user can click heading to minimize event */
        }

            .wall .wall-entry .event-heading .hide-button-container {
                float: right;
                margin-top: 2px;
                visibility: hidden;
            }

            .wall .wall-entry .event-heading:hover .hide-button-container {
                visibility: visible;
            }


            /* Custom event icons:
             */

            .wall .wall-entry.group-event .event-heading {
                background-image: url("/img/icons.com/group_medium_grey.png");
            }

            .wall .wall-entry.subject-event .event-heading {
                background-image: url("/img/icons.com/subject_medium_grey.png");
            }

            .wall .wall-entry.message-event .event-heading {
                background-image: url("/img/icons.com/message_medium_grey.png");
            }

            .wall .wall-entry.sms-event .event-heading {
                background-image: url("/img/icons.com/mobile.png");
            }

        .wall .wall-entry .event-time {
            color: #666;
            font-size: 11px;
            padding-left: 15px;
            background: url("/img/icons.com/clock.png") no-repeat left center;
        }

            .wall .wall-entry .event-heading .event-time {
                margin-left: 15px;
            }

        .wall .wall-entry .file-list {
            font-size: 11px; /* small font for attachment list */
        }

        .wall .wall-entry .thread {
            width: 100%;
            overflow: auto; /* this clears the floats */
        }

            .wall .wall-entry .thread .logo {
                float: left;
            }

            .wall .wall-entry .thread > .logo {
                margin-top: 5px;
            }

            .wall .wall-entry .thread .content {
                padding-left: 55px;
                margin-bottom: 5px;
            }

                .wall .wall-entry .thread .reply .content {
                    padding-left: 38px;
                    margin-top: -2px; /* Looks more aligned to logo. */
                }

                .wall .wall-entry .thread .reply .logo img {
                    /* Cheap fix: tall images overlap each other.
                     * A better solution would be to have image logo
                     * squaring algorithm.
                     */
                    width: 30px;
                    max-height: 50px;
                }

                .wall .wall-entry .thread .content .closing {
                    margin: 10px 0px;
                    font-size: 11px;
                }

                    .wall .wall-entry .thread .content .reply .closing {
                        margin: 5px 0px 0px 0px;
                    }

                    .wall .wall-entry .thread .content .reply .reply-author {
                        margin-right: 5px;
                    }

              .wall .wall-entry .thread ul.file-list {
                  margin: 4px 0px;
              }

            .wall .wall-entry .actions {
                margin-left: 5px;
            }

                .wall .wall-entry .actions a {
                    font-size: 11px;
                    margin-right: 10px;
                }

                .wall .wall-entry a.truncate_more_link {
                    outline: none;
                }

            .wall .wall-entry .hidden-messages .hide,
            .wall .wall-entry .reply {
                background-color: #e6e6e6;
                padding: 8px 14px 8px 8px; /* 14px to compensate textarea padding */
                margin-bottom: 3px;
                border-bottom: 1px solid #ccc;
            }

            .wall .wall-entry .action-block {
                display: none; /* initialy hidden */
            }

                .wall .wall-entry .action-block .action-block-cancel {
                    font-size: 11px;
                    margin-left: 5px;
                }

                .wall .wall-entry .action-block .reply-button {
                    display: inline;
                    margin-top: 0;
                }

                .wall .action-block textarea,
                .wall .action-block input,
                .wall .action-tease {
                    border: 1px solid #999;
                    background-color: #fff;
                    width: 100%;
                    padding: 3px;
                }

                .wall .action-block textarea,
                .wall .action-block input,
                .wall .action-block select,
                .wall .action-block .form-field {
                    margin-bottom: 5px;
                }

                .wall .action-block textarea {
                    height: 40px;
                }

                .wall .action-block input {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .wall .action-tease {
                    height: 12px;
                    line-height: 12px;
                    font-size: 10px;
                    color: #999;
                    cursor: text;
                }

        .wall .wall-entry .file-description,
        .wall .wall-entry .page-description {
            margin: 0px 0px 10px 20px;
            padding: 0px 10px 0px 40px;
        }

        .wall .wall-entry .file-description {
            background: url("/img/icons.com/file_grand_grey.png") no-repeat left center;
        }

        .wall .wall-entry .page-description {
            background: url("/img/icons.com/wiki_grand_grey.png") no-repeat left center;
        }

            .wall .wall-entry .file-description .title,
            .wall .wall-entry .page-description .title {
                font-size: 14px;
            }

            .wall .wall-entry .file-description .author,
            .wall .wall-entry .page-description .author {
                font-size: 11px;
            }

        .wall .wall-entry .other_members {
            padding-left: 20px;
            font-size: 10px;
        }


        /* Hide event time in some event types:
         */
        .wall .wall-entry.type_mailinglist_post_created .event-heading .event-time,
        .wall .wall-entry.type_forum_post_created .event-heading .event-time,
        .wall .wall-entry.type_private_message_sent .event-heading .event-time,
        .wall .wall-entry.type_page_created .event-heading .event-time,
        .wall .wall-entry.type_page_modified .event-heading .event-time,
        .wall .wall-entry.type_file_uploaded .event-heading .event-time {
            display: none;
        }

        .wall .wall-entry .event-children-link {
            font-size: 10px;
            cursor: pointer;
        }

        .wall .wall-entry.type_file_uploaded .event-children-link {
            margin-left: 60px;
            padding-bottom: 10px;
        }

        .wall .more-events .click {
            display: block;
            padding: 5px;
            outline: none;
            text-align: center;
        }

/* DASHBOARD ACTION BLOCKS
 */

#dashboard_action_blocks {
    font-size: 11px;
    border-bottom: 1px solid #ff9900;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

  #dashboard_action_blocks .action-block {
      background-color: #e6e6e6;
      padding: 8px 14px 8px 8px; /* 14px to compensate textarea padding */
      margin-top: 5px;
      margin-bottom: 3px;
      display: none; /* Initially hidden */
  }

  #dashboard_action_blocks .action-block .action-tease {
      margin-bottom: 5px; /* Same as other form elements. */
  }

  #dashboard_action_blocks .action-block .tease-element {
      display: none; /* Initially hidden */
  }

  #dashboard_action_blocks .action-block .action-button {
      display: inline;
  }

  #dashboard_action_blocks .action-block .cancel-button {
      margin-left: 5px;
  }

#dashboard_action_links {
    font-size: 11px;
}

  #dashboard_action_links .action {
    margin-left: 10px;
    margin-right: 10px;
    color: #666;
    font-weight: bold;
  }

  #dashboard_action_links img.tooltip { vertical-align: bottom; }

  #dashboard_action_links .action.inactive {
    color: #999;
  }

  #dashboard_action_links a#send_message {
    padding-left: 15px;
    background: transparent url("/img/icons.com/group2_small_grey.png") left center no-repeat;
  }
  #dashboard_action_links a#upload_file {
    padding-left: 10px;
    background: transparent url("/img/icons.com/file_small_grey.png") left center no-repeat;
  }
  #dashboard_action_links a#create_wiki {
    padding-left: 10px;
    background: transparent url("/img/icons.com/wiki_small_grey.png") left center no-repeat;
  }

  #dashboard_action_links a.action.active:hover,
  #dashboard_action_links a.action.open {
    color: #000;
  }

  #dashboard_action_links a.active#send_message:hover,
  #dashboard_action_links a.open#send_message {
    background-image: url("/img/icons.com/group2_small_orange.png");
  }
  #dashboard_action_links a.active#upload_file:hover,
  #dashboard_action_links a.open#upload_file {
    background-image: url("/img/icons.com/file_small_orange.png");
  }
  #dashboard_action_links a.active#create_wiki:hover,
  #dashboard_action_links a.open#create_wiki {
    background-image: url("/img/icons.com/wiki_small_orange.png");
  }

  #upload-failed-error-message { display: none; }


/* SIMPLE LISTS
 * Simple list styles that provide bullet images and spacing.
 */

ul.file-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.file-list li {
        background: url(img/icons.com/file_medium_grey.png) no-repeat left center;
        padding-left: 15px;
        margin: 2px 0px;
    }

ul.teacher-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.teacher-list li {
        background: url(img/icons/teacher_small.png) no-repeat left center;
        padding-left: 12px;
        margin: 2px 0px;
    }

ul.pros-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.pros-list li {
        background: url(img/icons/tick_big.png) no-repeat left center;
        padding-left: 24px;
        margin: 2px 0px;
    }

ul.feature-list {
    list-style-type: none;
    margin: 4px 0px;
}

    ul.feature-list li {
        padding-left: 50px;
        min-height: 40px;
        margin: 10px 0 0 0;
    }

    ul.feature-list li.wiki {
        background: url(img/icons/features/wiki.png) no-repeat left 5px;
    }

    ul.feature-list li.group {
        background: url(img/icons/features/group.png) no-repeat left 5px;
    }

    ul.feature-list li.file-sharing {
        background: url(img/icons/features/file_sharing.png) no-repeat left 5px;
    }

    ul.feature-list li.dialog {
        background: url(img/icons/features/dialog.png) no-repeat left 5px;
    }

    ul.feature-list li.contact-groups {
        background: url(img/icons/features/contact_groups.png) no-repeat left 5px;
    }

    ul.feature-list li.sms {
        background: url(img/icons/features/sms.png) no-repeat left 5px;
    }

    ul.feature-list li.teacher-profile {
        background: url(img/icons/features/teacher_profile.png) no-repeat left 5px;
    }

    ul.feature-list li.discussions {
        background: url(img/icons.com/about/discussions.png) no-repeat left top;
    }

    ul.feature-list li.email {
        background: url(img/icons.com/about/email.png) no-repeat left top;
    }

    ul.feature-list li.private-file {
        background: url(img/icons.com/about/private_file.png) no-repeat left top;
    }

    ul.feature-list li.subject {
        background: url(img/icons.com/about/subject.png) no-repeat left top;
    }

    ul.feature-list.small li {
        padding-left: 35px;
        min-height: 25px;
        margin: 10px 0 0 0;
    }

    ul.feature-list.small li.group {
        background: url(img/icons.com/about/group_smaller.png) no-repeat 4px center;
    }

    ul.feature-list.small li.discussions {
        background: url(img/icons.com/about/discussions_smaller.png) no-repeat left center;
    }

    ul.feature-list.small li.email {
        background: url(img/icons.com/about/email_smaller.png) no-repeat 2px center;
    }

    ul.feature-list.small li.files {
        background: url(img/icons.com/about/file_smaller.png) no-repeat 8px center;
    }

    ul.feature-list.small li.wiki {
        background: url(img/icons.com/about/wiki_smaller.png) no-repeat 5px center;
    }

    ul.feature-list.small li.notifications {
        background: url(img/icons.com/about/notifications_smaller.png) no-repeat 2px center;
    }

    ul.feature-list.small li.sms {
        background: url(img/icons.com/about/mobile_smaller.png) no-repeat 9px center;
    }

.subject-list {
    background: url(img/icons/dalykas-off-big.png) no-repeat left top;
    padding: 0px 0px 0px 35px;
    margin: 10px 0px;
}

    .subject-list .subject-description {
        padding: 5px 0px 5px 20px;
        background-position: left 10px;
    }

/* UTUTI OBJECT DESCRIPTION
*/
.u-object {
    position: relative;
}

    .u-object dt, .u-object dd {
        display: inline;
    }

    .u-object .hide_me {
        position: absolute;
        right: 30px;
        top: 10px;
        display: none;
        width: 15px;
        height: 15px;
    }

    .row:hover .u-object .hide_me {
        display: block;
    }

    .u-object .close-button {
        float: right;
        display: none;
    }

    .u-object:hover .close-button {
        display: block;
    }


/* SUBJECT DESCRIPTION
 */

.subject-description {
    color: #666666;
    font-size: 11px;
    padding: 10px 15px 10px 30px;
    background: url("img/icons.com/subject_medium_grey.png") no-repeat 10px 12px;
}

    .subject-description.save-space-right {
        padding-right: 0;
    }

    .subject-description dt {
        font-weight: bold;
        font-size: 13px;
        margin-right: 10px;
    }

    .subject-description dd {
        margin-right: 15px;
        display: inline-block; /* for width control */
    }

    .subject-description dd.location-tags {
        margin-right: 0px; /* Lecturer follows */
    }

    .subject-description dd.files {
        padding-left: 16px;
        background: url('img/icons.com/file_medium_grey.png') no-repeat left center;
    }

    .subject-description dd.settings {
        padding-left: 16px;
        background: url('/img/icons.com/settings.png') no-repeat left center;
    }

    .subject-description dd.feed {
        padding-left: 20px;
        background: url('/img/icons.com/message_medium_grey.png') no-repeat left center;
    }

    .subject-description dd.files {
        padding-left: 16px;
        background: url('img/icons.com/file_medium_grey.png') no-repeat left center;
    }

    .subject-description dd.pages {
        padding-left: 16px;
        background: url('img/icons.com/wiki_medium_grey.png') no-repeat left center;
    }

    .subject-description dd.files,
    .subject-description dd.pages {
        min-width: 20px; /* makes icons line up nicely in lists */
    }

    .subject-description dd.watch-count {
        padding-left: 18px;
        background: url('img/icons/watching_13.png') no-repeat left center;
    }

    .subject-description .unwatch-button,
    .subject-description .unteach-button {
        float: right;
        display: none;
    }

    .subject-description .button-to {
        float: right;
    }

    .subject-description:hover .unwatch-button,
    .subject-description:hover .unteach-button {
        display: block;
    }

.notes-header {}

    .notes-header .note {
        background-image: url('img/icons.com/about/wiki.png');
        background-repeat: no-repeat;
        padding-left: 40px;
        border-bottom: 1px solid #FF9900;
        margin-top: 15px;
    }

        .notes-header .note h2 {
            font-weight: bold;
        }

        .notes-header .note p {
            margin: 0;
        }

        .notes-header .controls {
            background-repeat: no-repeat;
            background-position: 0 18px;
            padding-left: 15px;
            padding-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .notes-header .edit {
            background-image: url('img/icons.com/edit.png');
        }

        .notes-header .history {
            background-image: url('img/icons.com/clock_orange.png');
            background-position: 0 17px;
        }

        .notes-header .delete {
            background-image: url('img/icons.com/close.png');
            background-position: 0 20px;
        }

#note-content {
    padding: 0 10px 10px 5px;
}


/* GROUP DESCRIPTION
 */
.group-description {
    color: #666666;
    font-size: 11px;
    padding: 10px 15px 10px 30px;
    background: url("/img/icons.com/group_medium_grey.png") no-repeat 10px 10px;
}

    .group-description dd {
       display: inline;
    }

    .group-description .group-title {
        float: left;
    }

    .group-description .group-title dt {
        font-size: 13px;
        font-weight: bold;
    }

    .group-description .group-actions {
        clear: left;
        padding-top: 5px;
    }

    .group-description .location-tags {
        display: inline;
        margin-left: 10px;
    }

    .group-description  .edit_group {
        cursor: pointer;
    }

    .group-description .group-actions dd {
        margin-right: 3px;
        margin-right: 15px;
        padding-left: 18px;
        padding-right: 18px;
    }

    .group-description .group-actions dd a {
        font-size: 10px;
    }

        .group-description dd.files {
            padding-left: 16px;
            background: url('/img/icons.com/file_medium_grey.png') no-repeat left center;
        }

        .group-description dd.messages {
            padding-left: 20px;
            background: url('/img/icons.com/message_medium_grey.png') no-repeat left center;
        }

        .group-description dd.subjects {
            background: url('/img/icons.com/subject_medium_grey.png') no-repeat left center;
        }

        .group-description dd.email {
            padding-left: 14px;
            background: url('/img/icons.com/contact_small.png') no-repeat left center;
        }

        .group-description dd.sms {
            padding-left: 12px;
            background: url('/img/icons.com/mobile.png') no-repeat left center;
        }

        .group-description dd.settings {
            padding-left: 16px;
            background: url('/img/icons.com/settings.png') no-repeat left center;
        }


/* GENERAL TWO PANEL LAYOUT
 */

.left-right {
    display: table;
    width: 100%;
}

    .left-right .left,
    .left-right .right {
        display: table-cell;
        width: 50%;
        vertical-align: top;
    }

    .left-right .left {
        padding-right: 20px;
    }

    .left-right .right {
        border-left: 1px solid #eee;
        padding-left: 50px;
    }

/* COMMON LOOKS
 */

.location-tags, .location-tags a {
    color: #3d617a;
}

.location-tags.short, .location-tags.short a {
    text-transform: uppercase;
}

.location-tags a:hover {
    color: #6099cc;
}

ul.location-links {
    display: inline;
}

    ul.location-links.short {
        text-transform: uppercase;
    }

    ul.location-links li,
    .icon-list ul.location-links li { /* reset icon-list style */
        display: inline;
        margin-right: 2px;
        padding-left: 10px;
        background: url("/img/icons.com/arrow_right.png") no-repeat left center;
    }

    ul.location-links li.first,
    .icon-list ul.location-links li.first {
        padding-left: 0;
        background: none;
    }

/* UTILITY CLASSES
 */

.with-shade {
    background-color: #f6f6f6;
}

.underline {
    border-bottom: 1px solid #DED8D8;
}

.with-top-line {
    border-top: 1px solid #DED8D8;
}

.small-text {
    font-size: 11px;
}

.tiny-text {
    font-size: 10px;
}

.grey-text {
    color: #666;
}

.clearLeft, .clearRight, .clearBoth {
  font-size: 1px;
  height: 1px;
  line-height: 1px;
}
.clearLeft { clear: left; }
.clearRight { clear: right; }
.clearBoth { clear: both; }

.recipient {
    padding-left: 12px;
    margin-left: 2px;
    background: url('/img/icons.com/arrow_right.png') no-repeat left center;
}

.a11y {
    display: none;
}

.steps { }

    .steps .step .number {
        border: 1px solid #666;
        background-color: #ccc;
        font-weight: bold;
        color: black;
        padding: 1px 5px;
    }
    .steps .step.active .number,
    .steps .step.complete .number {
        background-color: #f90;
        border-color: #888;
        color: white;
    }


/* Clearfix should be preferred way of closing
 * containers, that contains floated elements.
 */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.break-word {
    word-wrap: break-word;
}

.notice {
    font-size: 11px;
    color: #666666;
}

/* FLASH MESSAGES
 */

#welcome-message,
.flash-message,
.action-reply {
    border: 1px solid #f90;
    background: white url("/img/icons.com/icon_logo_small.png") 5px 5px no-repeat;
    margin: 5px 0 10px;
    padding: 5px 5px 5px 35px;
    color: black;
}

    .flash-message .close-link {
        float: right;
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    .message {
        color: #333333;
    }

/* CLICK2SHOW styles
 */

.click2show .show,
.click2fade .show {
    display: none;
}

.click2show .click
.click2fade .click {
    cursor: pointer;
}

/* WIKI PAGE STYLING
 */

.wiki-page {
  padding: 0 10px;
}

    .wiki-page h1, .wiki-page h2, .wiki-page h3,
    .wiki-page h4, .wiki-page h5, .wiki-page h6 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: bold;
    }

    .wiki-page h1 { font-size: 16px; }

    .wiki-page h2 { font-size: 14px; }

    .wiki-page h3 { font-size: 12px; }

    .wiki-page h4, .wiki-page h5, .wiki-page h6 { font-size: 10px; }

    .wiki-page p {
        margin: 10px 0px;
    }

    .wiki-page ul, .wiki-page ol {
        margin: 10px 0 10px 10px;
        list-style: disc inside none;
    }

    .wiki-page ol {
        list-style: decimal inside none;
    }

    .wiki-page em {
        font-style: italic;
    }

    .wiki-page b {
        font-weight: bold;
    }

    .wiki-page i {
        font-style: italic;
    }


/* STANDARD ICON LISTS */

/* SMALL */

ul.icon-list {
    list-style: none;
}

ul.inline-list li {
    display: inline;
}

    ul.icon-list li {
        padding-left: 15px;
        margin: 3px 0;
        background-position: left center;
        background-repeat: no-repeat;
    }

    ul.icon-list li.icon-admin { background-image: url('img/icons.com/admin.png'); }
    ul.icon-list li.icon-add {
        background-image: url('img/icons.com/add_small_orange.png');
        background-position: 2px center;
    }
    ul.icon-list li.icon-find {
        background-image: url('img/icons.com/search_small.png');
        background-position: 1px center;
    }
    ul.icon-list li.icon-user { background-image: url('img/icons.com/user_small_grey.png'); }
    ul.icon-list li.icon-teacher {
        background-image: url('img/icons.com/teacher_small_orange.png');
        background-position: -1px center;
    }
    ul.icon-list li.icon-file { background-image: url('img/icons.com/file_small_grey.png'); }
    ul.icon-list li.icon-file.active { background-image: url('img/icons.com/file_small_orange.png'); }
    ul.icon-list li.icon-time { background-image: url('img/icons.com/clock.png'); }
    ul.icon-list li.icon-feed { background-image: url('img/icons.com/feed_small_grey.png'); }
    ul.icon-list li.icon-note { background-image: url('img/icons.com/wiki_small_grey.png'); }
    ul.icon-list li.icon-university { background-image: url('img/icons.com/university_small_grey.png'); }
    ul.icon-list li.icon-message { background-image: url('img/icons.com/message_small_grey.png'); }
    ul.icon-list li.icon-message.active { background-image: url('img/icons.com/message_small_orange.png'); }
    ul.icon-list li.icon-group { background-image: url('img/icons.com/group_small_grey.png'); }
    ul.icon-list li.icon-network {
        background-image: url('img/icons.com/network_grey.png');
        background-position: -2px center;
    }
    ul.icon-list li.icon-subject { background-image: url('img/icons.com/subject_small_grey.png'); }
    ul.icon-list li.icon-mobile {
        background-image: url('img/icons.com/mobile.png');
        background-position: 2px center;
    }
    ul.icon-list li.icon-email-domain { background-image: url('img/icons.com/contact_small.png'); }
    ul.icon-list li.icon-email {
        background-image: url('img/icons.com/email.png');
        padding-left: 22px;
    }
    ul.icon-list li.icon-facebook {
        background-image: url('img/icons.com/FB.png');
        padding-left: 22px;
    }
    ul.icon-list li.icon-contact { background-image: url('img/icons.com/contact_small.png'); }
    ul.icon-list li.icon-ututi { background-image: url('img/icons.com/ututi_small_orange.png'); }

    /* Sometimes we want icons not centered vertically. */

    ul.icon-list li.icon-university.align-top {
        background-position: left 4px;
    }
    ul.icon-list li.icon-teacher.align-top {
        background-position: left 2px;
    }


/* MEDIUM */

ul.medium-icon-list {
    list-style: none;
}

    ul.medium-icon-list li {
        padding-left: 18px;
        margin: 3px 0;
        background-position: 2px center;
        background-repeat: no-repeat;
    }

    ul.medium-icon-list li.icon-time { background-image: url('img/icons.com/clock.png'); }
    ul.medium-icon-list li.icon-add { background-image: url('img/icons.com/add_medium_orange.png'); background-position: 2px center; }
    ul.medium-icon-list li.icon-find { background-image: url('img/icons.com/search_medium.png'); background-position: 1px center; }
    ul.medium-icon-list li.icon-user { background-image: url('img/icons.com/user_medium_grey.png'); }
    ul.medium-icon-list li.icon-file { background-image: url('img/icons.com/file_medium_grey.png'); }
    ul.medium-icon-list li.icon-feed { background-image: url('img/icons.com/feed_medium_grey.png'); }
    ul.medium-icon-list li.icon-note { background-image: url('img/icons.com/wiki_medium_grey.png'); }
    ul.medium-icon-list li.icon-university { background-image: url('img/icons.com/university_medium_grey.png'); }
    ul.medium-icon-list li.icon-message { background-image: url('img/icons.com/message_medium_grey.png'); }
    ul.medium-icon-list li.icon-message.active { background-image: url('img/icons.com/message_medium_orange.png'); }
    ul.medium-icon-list li.icon-group {
        background-image: url('img/icons.com/group_medium_grey.png');
        background-position: 0px center;
    }
    ul.medium-icon-list li.icon-subject { background-image: url('img/icons.com/subject_medium_grey.png'); }
    ul.medium-icon-list li.icon-email {
        background-image: url('img/icons.com/email.png');
        padding-left: 22px;
    }
    ul.medium-icon-list li.icon-facebook {
        background-image: url('img/icons.com/FB.png');
        padding-left: 22px;
    }
    ul.medium-icon-list li.icon-contact { background-image: url('img/icons.com/contact_medium.png'); }

/* SEARCH CONTROLS.
 */

.search-controls .search-text-submit input,
.search-controls .search-text-submit button {
    display: inline;
}

.search-controls .search-text-submit input {
    margin-right: 5px;
}

.search-results-container .search-results-header {
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

/* SEARCH RESULT SNIPPETS.
 */

.search-results-container .search-item {
    font-size: 11px;
    border-bottom: 1px solid #eee;
    padding: 8px 8px 8px 35px;
    background-repeat: no-repeat;
    background-position: 5px 10px;
}

.search-results-container .search-item .heading {
    margin-bottom: 5px;
}

.search-results-container .search-item.with-logo {
    padding-left: 0px;
}

.search-results-container .search-item.with-logo .logo {
    float: left;
    margin-right: 8px;
}

.search-results-container .search-item .item-title {
    font-weight: bold;
    font-size: 12px;
    margin-right: 15px;
}

.search-results-container .search-item .action-button {
    float: right;
    text-align: right;
}

.search-results-container .snippet-subject {
    background-image: url("/img/icons.com/subject_big_grey.png");
}

.search-results-container .snippet-group {
    background-image: url("/img/icons.com/group_big_grey.png");
}

    .search-results-container .snippet-group .item-title {
        display: inline;
        margin-right: 15px;
    }

.search-results-container .snippet-teacher .heading {
    margin-bottom: 0px;
}

.search-results-container .search-item ul.statistics li {
    display: inline-block;
    margin-right: 5px;
    min-width: 20px;    /* makes icons line up nicely in list */
    color: #3d617a;
}

.item-tags {
    background: url('img/icons.com/tag.png') no-repeat left center;
    padding-left: 25px;
}

/* BORDERED BOX WITH A TITLE
 */

.title-box {
    border: 1px solid #f90;
    padding: 10px 15px 15px 15px;
}

    .title-box .title {
        font-weight: bold;
        border-bottom: 1px solid #f90;
        margin-bottom: 5px;
    }

/* FEATURE BOX
 */

.feature-box {
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 12px 25px 20px 45px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

    .feature-box.icon-subject {
        background-position: 15px 15px;
        background-image: url('img/icons.com/about/subject.png');
    }

    .feature-box.icon-group {
        background-position: 15px 15px;
        background-image: url('img/icons.com/about/group.png');
    }

    .feature-box.icon-logo {
        background-position: 15px 15px;
        background-image: url('img/icons.com/logo.png');
    }

    .feature-box.icon-note {
        background-position: 20px 10px;
        background-image: url('img/icons.com/about/wiki.png');
    }

    .feature-box.simple {
        background: none;
        padding: 0;
    }

    .feature-box .title {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid #ffaf37;
        margin-left: 15px;
        margin-bottom: 15px;
        padding-bottom: 2px;
    }

        .feature-box.simple .title {
            font-size: 13px;
            margin-left: 0px;
            margin-bottom: 10px;
        }

    .feature-box .feature {
        display: inline;
        width: 250px;
        float: left;
        margin: 15px 30px 15px 0px;
        background-repeat: no-repeat;
        min-height: 35px;
        padding-left: 50px;
    }

        .feature-box.simple .feature {
            width: 300px;
        }

        .feature-box.one-column .feature {
            width: 445px;
        }

    .feature-box .icon-file-orange {
        background-image: url('img/icons.com/file_grand_orange.png');
        background-position: 10px 5px;
    }
    .feature-box .icon-file {
        background-image: url('img/icons.com/about/file.png');
        background-position: 10px 5px;
    }
    .feature-box .icon-file-upload {
        background-image: url('img/icons.com/about/upload.png');
        background-position: 10px 5px;
    }
    .feature-box .icon-private-file {
        background-image: url('img/icons.com/about/private_file.png');
        background-position: 2px 5px;
    }
    .feature-box .icon-subjects-file {
        background-image: url('img/icons.com/about/subjects_file.png');
    }
    .feature-box .icon-notifications {
        background-image: url('img/icons.com/about/notifications.png');
        background-position: 5px 0;
    }
    .feature-box .icon-group {
        background-image: url('img/icons.com/about/group.png');
        background-position: 5px 5px;
    }
    .feature-box .icon-subject {
        background-image: url('img/icons.com/about/subject.png');
        background-position: 5px 5px;
    }
    .feature-box .icon-email {
        background-image: url('img/icons.com/about/email.png');
        background-position: 2px 5px;
    }
    .feature-box .icon-discussions {
        background-image: url('img/icons.com/about/discussions.png');
        background-position: 2px 5px;
    }
    .feature-box .icon-message {
        background-image: url('img/icons.com/about/message.png');
        background-position: 2px 5px;
    }
    .feature-box .icon-chat {
        background-image: url('img/icons.com/discussions_grand_orange.png');
        background-position: 2px 5px;
    }
    .feature-box .icon-publications {
        background-image: url('img/icons.com/about/publications.png');
        background-position: 5px 5px;
    }
    .feature-box .icon-note {
        background-image: url('img/icons.com/wiki_grand_orange.png');
        background-position: 10px 5px;
    }
    .feature-box .icon-edit-note {
        background-image: url('img/icons.com/about/wiki_edit.png');
        background-position: 10px 5px;
    }
    .feature-box .icon-class-note {
        background-image: url('img/icons.com/about/wiki_class.png');
        background-position: -5px 5px;
    }
    .feature-box .icon-talk {
        background-image: url('img/icons.com/talk_grand_orange.png');
        background-position: 5px 5px;
    }
    .feature-box .icon-wiki {
        background-image: url('img/icons.com/about/wiki.png');
        background-position: 10px 5px;
    }
    .feature-box .icon-administration {
        background-image: url('img/icons.com/about/administration.png');
    }
    .feature-box .icon-branding {
        background-image: url('img/icons.com/about/branding.png');
        background-position: 2px 5px;
    }
    .feature-box .icon-cv {
        background-image: url('img/icons.com/about/cv.png');
        background-position: 10px 5px;
    }

    .feature-box .action-button {
        text-align: center;
        margin-top: 15px;
    }

/* MENU TABS
 */

ul.tabs {
    text-align: left;
    margin-bottom: 12px;
    border-bottom: 1px solid #ff9900;
    list-style-type: none;
    padding: 1px 10px 1px 10px;
}

    ul.tabs li { /* do not change */
        display: inline;
    }

    ul.tabs li.current {
        border-bottom: 1px solid #fff;
        background-color: #fff;
    }

    ul.tabs li.current a {
        background-color: #fff;
        font-weight: bold;
        position: relative;
        top: 1px;
        padding-top: 2px;
        border-color: #ff9900;
    }

    ul.tabs li a {
        padding: 1px 8px;
        border: 1px solid #666;
        color: #333;
        margin-right: 0px;
        text-decoration: none;
        border-bottom: none;
    }

    /* Container that may be placed above the tabs.
     */
    .above-tabs {
        margin-bottom: -14px;
        text-align: right;
    }


/* SECTION.
 */

.page-section {
    margin-top: 30px;
    padding-left: 40px;
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 40px;
}

    .page-section.subjects {
        background-image: url("/img/icons.com/about/subject.png");
    }

    .page-section.groups {
        background-image: url("../img/icons.com/about/group.png");
    }

    .page-section.events {
        background-image: url("../img/icons.com/clock_grand.png");
    }

    .page-section.information {
        background-image: url("/img/icons.com/about/wiki_edit.png");
    }

    .page-section.profile {
        background-image: url("/img/icons.com/about/file_edit.png");
        background-position: 5px top;
    }

    .page-section.feature-box.profile {
        background-image: url("/img/icons.com/about/file_edit.png");
        background-position: 22px 8px;
    }

    .page-section .title {
        position: relative;
        border-bottom: 1px solid #f90;
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 5px;
        color: #333;
    }

    .page-section .title .action-button {
        position: absolute;
        bottom: 2px;
        right: 0px;
    }

/* SETTINGS PAGES */

.explanation-post-header {
    margin: 20px 0 15px;
}
.explanation-post-header p.tip {
    margin-top: 0px;
}

/* PRIVATE MESSAGES */

#private-message-thread {}

    #private-message-thread .single-title {
        background: url('img/icons.com/discussions_medium_grey.png') no-repeat;
        background-position: 0px 8px;
        border-bottom: 1px solid #FF9900;
        padding-left: 23px;
    }

    #private-message-thread .single-title h2 {
        color: #333;
        font-size: 13px;
        width: 400px;
        padding: 0;
        font-weight: bold;
        float: left;
    }

    #private-message-thread .delete-message {
        background: url('img/icons.com/close.png') no-repeat right;
        text-align: right;
        padding-right: 15px;
        font-size: 12px;
    }

    #private-message-thread .reply {
        background-color: #e6e6e6;
        padding: 8px 14px 8px 8px; /* 14px to compensate textarea padding */
        margin-bottom: 3px;
    }

    #private-message-thread .action-block textarea,
    #private-message-thread .action-block input,
    #private-message-thread .action-tease {
        border: 1px solid #999;
        background-color: #fff;
        width: 100%;
        padding: 3px;
    }

    #private-message-thread .action-tease {
        height: 12px;
        line-height: 12px;
        font-size: 10px;
        color: #999;
        cursor: text;
    }

    #private-message-thread .action-block {
        /*display: none; /* initialy hidden */
    }

        #private-message-thread .action-block .action-block-cancel {
            font-size: 11px;
            margin-left: 5px;
        }

        #private-message-thread .action-block .reply-button {
            display: inline;
            margin-top: 0;
        }

        #private-message-thread .action-block textarea,
        #private-message-thread .action-block input,
        #private-message-thread .action-block select,
        #private-message-thread .action-block .form-field {
            margin-bottom: 5px;
        }

        #private-message-thread .action-block textarea {
            height: 100px;
        }

        #private-message-thread .action-block input {
            padding-top: 0;
            padding-bottom: 0;
        }

        #private-message-thread .action-block .action-button {
            display: inline;
        }

/* USER INFORMATION PAGE
 *
 * These styles live here because they may be overridden
 * by custom university stylesheets.
 */

#user-information {
    margin: 15px 0;
}

    #user-information .user-logo-container,
    #user-information .user-info {
        float: left;
        margin-right: 20px;
        max-width: 390px;
    }

    #user-information .about-self {
        margin-top: 10px;
    }

/* FRONT PAGE STYLE.
 */

#frontpage #sign-up {
    width: 100%;
    height: 265px;
    background: #3d617a url("/img/bg_blue_repeat.png") repeat-x left bottom;
}

#frontpage #sign-up-inner {
    width: 100%;
    height: 265px;
    margin: auto;
    background: url("/img/bg_blue.png") no-repeat center bottom;
}

#frontpage .error span {
    display: none;
}

#frontpage #sign-in-area {
    width: 920px;
    height: 265px;
    margin: auto;
    position: relative;
}

    #frontpage #sign-in-area h1 {
        color: white;
        font-size: 18px;
        max-width: 550px;
        padding-top: 45px;
        padding-bottom: 15px;
    }

#frontpage button#learn-more {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 25px;
    position: absolute;
    right: 45px;
    bottom: 35px;
    box-shadow: 3px 3px 10px #333;
    -moz-box-shadow: 3px 3px 10px #333;
    -webkit-box-shadow: 3px 3px 10px #333;
    background-image: url('img/buttons/bg_big_grey.png');
    max-height: 34px !important;
}

#frontpage button#learn-more:hover {
    background-image: url('img/buttons/hover_big_grey.png');
}

#frontpage #about {
    width: 100%;
    background: #fff;
}

    #frontpage #about #about-inner {
        width: 920px;
        margin: auto;
        padding: 20px 0;
    }

    #frontpage #about p {
        color: #666;
        font-size: 12px;
        margin-top: 5px;
    }


    #frontpage #about h2 {
        font-size: 18px;
        font-weight: bold;
        color: #666;
        width: 100%;
    }

    #frontpage #about h3 {
        color: #666;
        font-size: 14px;
        font-weight: bold;
    }

    #frontpage #about #features {
        float: left;
        width: 530px;
        padding-right: 50px;
    }

        #frontpage #about #features h2 {
            margin-bottom: 20px;
        }

    #frontpage #about .feature {
        min-height: 60px;
        padding-left: 100px;
        margin-bottom: 25px;
        background-position: left top;
        background-repeat: no-repeat;
    }

    #frontpage #about .feature#discussions {
        background-image: url('/img/icons.com/about/frontpage/discussions.png');
    }

    #frontpage #about .feature#social-network {
        background-image: url('/img/icons.com/about/frontpage/social_network.png');
    }

    #frontpage #about .feature#personal-websites {
        background-image: url('/img/icons.com/about/frontpage/sharing.png');
    }

    #frontpage #about #using-ututi {
        float: left;
        width: 320px;
    }

    #frontpage #about #using-ututi {}

        #frontpage #about #using-ututi .university {
            float: left;
            width: 360px;
            padding-right: 5px;
            margin-top: 15px;
        }

        #frontpage #about #using-ututi .uni-logo {
            float: left;
            text-align: center;
            width: 55px;
        }

        #frontpage #about #using-ututi .strong {
            font-weight: bold;
            float: right;
            width: 300px;
            margin: auto;
        }

        #frontpage #about #using-ututi .more {
            padding-left: 60px;
            padding-top: 10px;
            display: inline-block;
        }

