/* ROUNDED BLOCKS
 */

.rounded-block {
    background-repeat: no-repeat;
    border-left: 1px solid #ded8d8;
    border-right: 1px solid #ded8d8;
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    position: relative;
    _margin-bottom: 15px; /* IE6 */
    _margin-top: 15px; /* IE6 */
    _padding: 10px; /* IE6 */
    _border: 1px solid #ded8d8; /* IE6 */
}

    .rounded-block .block-content {
        padding: 5px 10px;
    }

    .rounded-block .ctl,
    .rounded-block .ctr,
    .rounded-block .cbl,
    .rounded-block .cbr {
        background-image: url('img/portlets_bg.png');
        background-repeat: no-repeat;
        display: block;
        font-size: 2px;
        height: 5px;
        position: absolute;
        _display: none; /* IE6 */
    }

    .rounded-block .ctl {
        background-position: left top;
        left: -1px;
        right: 4px;
        top: -5px;
        _width: 100%; /* IE6 */
    }

    .rounded-block .ctr {
        background-position: right top;
        right: -1px;
        top: -5px;
        width: 5px;
    }

    .rounded-block .cbl {
        background-image: url('img/portlets_bg_white.png');
        background-position: left -5px;
        bottom: -5px;
        left: -1px;
        right: 4px;
    }

    .rounded-block .cbr {
        background-image: url('img/portlets_bg_white.png');
        background-position: right -5px;
        bottom: -5px;
        right: -1px;
        width: 5px;
    }

    .rounded-block .large-header {
        background: #f6f6f6;
        border-bottom: 1px solid #ded8d8;
        height:40px;
        position:relative;
    }

    .rounded-block .large-header h2 {
        float: left;
        margin: 9px 0 0 10px;
    }

        .rounded-block .large-header .header-button {
            position: absolute;
            right: 5px;
            top: 9px;
        }

        .rounded-block .large-header .header-link {
            font-weight: normal;
            font-size: 11px;
        }


/* SIMPLE LISTS
 * Simple list styles that provide bullet images and spacing.
 */

ul.teacher-list {
    list-style-type: none;
    margin: 4px 8px;
}

    ul.teacher-list li {
        background: url(img/icons/teacher_small.png) no-repeat left center;
        padding-left: 12px;
        margin: 2px 0px;
    }

/* SUBJECT DESCRIPTION
 */

.subject-description {
    color: #666666;
    font-size: 11px;
    padding: 10px 15px 10px 30px;
    background: url("img/icons/dalykas-very-small.png") no-repeat 10px 10px;
}

    .subject-description dt, .subject-description dd {
        display: inline;
    }

    .subject-description dt {
        font-weight: bold;
        font-size: 13px;
    }

    .subject-description dd {
        margin-left: 15px;
    }

    .subject-description dd.tags, .subject-description dd.tags a {
        color: #668000;
        text-transform: uppercase;
    }

    .subject-description dd.files {
        padding-left: 18px;
        background: url('img/icons/files_13.png') no-repeat left center;
    }

    .subject-description dd.pages {
        padding-left: 18px;
        background: url('img/icons/pages_13.png') no-repeat left center;
    }

    .subject-description dd.watch-count {
        padding-left: 18px;
        background: url('img/icons/watching_13.png') no-repeat left center;
    }

    .subject-description .unteach-button {
        float: right;
        display: none;
    }

    .subject-description:hover .unteach-button {
        display: block;
    }

/* UTILITY CLASSES
 */

.with-bottom-line {
    border-bottom: 1px solid #DED8D8;
}

.with-top-line {
    border-top: 1px solid #DED8D8;
}

.small-text {
    font-size: 11px;
}

.tiny-text {
    font-size: 10px;
}
