/* UTUTI LAYOUT STYLESHEET.
 * Describes styles of main page content area, sidebars, header and footer.
 */

html, body {
    width: 100%;
    height: 100%;
}

/* FOOTER.
 */

#footer {
    height: 60px;
    width: 980px;
    text-align: center;
    margin: auto;
    font-size: 11px;
    color: #666;
}

    #footer div.column {
        text-align: left;
        width: 33%;
        float: left;
        position: relative;
        line-height: 30px;
    }

    #footer div.column.left {
        text-align: left !important;
    }

    #footer div.column.middle {
        text-align: center !important;
    }

    #footer div.column.right {
        text-align: right !important;
    }

    #language-switch-form select {
        width: auto;
    }

    #language-switch-form button,
    #language-switch-form input {
        display: none; /* don't show submit button */
    }

/* HEADER.
 */

#header {
    background: #333;
    height: 40px;
    width:100%;
    min-width: 980px;
}

#header #header-inner {
    height: 30px;
    width: 980px;
    margin: auto;
    padding-top: 10px;
}
#header #header-inner #logo {
    display: inline;
    float: left;
    width: 175px;
    text-align: left;
    padding: 0px 0px 3px 5px;
    border: 0px;
}

#top-panel {
    background-color: #6d6d6d;
    float: left;
    width: 800px;
    height: 20px;
    padding: 5px 0;
}

ul#head-nav {
    float: left;
    list-style: none;
    width: 340px;
    padding-left: 20px;
    text-align: left;
}

ul#head-nav li {
    display: inline;
    line-height: 20px; /* Equal to top-panel height  */
}

ul#head-nav li a {
    color: #ffffff;
}

ul#head-nav li a:hover {
    color: #ff9900;
    text-decoration: none;
}

ul#head-nav li#nav-home a {
    padding: 0 12px;
    background: url('img/icons/home.png') left center no-repeat;
}

ul#head-nav li#nav-home a:hover {
    background: url('img/icons/home_hover.png') left center no-repeat;
}

ul#head-nav li#nav-university a {
    padding: 0 15px;
    background: url('img/icons/university.png') left center no-repeat;
}

ul#head-nav li#nav-university a:hover {
    background: url('img/icons/university_hover.png') left center no-repeat;
}

ul#head-nav li#nav-catalog a {
    padding: 0 15px;
    background: url('img/icons/catalog.png') left center no-repeat;
}

ul#head-nav li#nav-catalog a:hover {
    background: url('img/icons/catalog_hover.png') left center no-repeat;
}

#search-form {
    width: 225px;
    float: left;
}

#search-form input {
    background: url("img/icons/search_small.png") right center no-repeat;
    background-color: #ffffff;
    padding: 0 20px 0 2px;
    width: 203px;
    height: 18px;
}

#search-form button {
    display: none;
}

ul#user-menu {
    display: inline;
    float: right;
    list-style: none;
    max-width: 190px;
    min-width: 140px;
    color: #ffffff;
    padding-right: 10px;
}

ul#user-menu li.expandable {
    position:relative;
    margin-right:12px;
}

ul#user-menu li.expandable div.fullname {
    padding: 0px 20px 3px 5px;
    background-image: url('img/icons/header_arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    cursor:pointer;
    line-height: 20px;
    height: 20px !important; /* Don't screw up menu if username is too long */
    overflow: hidden;
    text-align: right;
}

ul#user-menu li.expanded div.fullname {
    background-color: #f2f2f2;
    background-image: url('img/icons/header_arrow_active.png');
    color: #6d6d6d;
    text-align: left;
}

li.expandable div.expandable-items {
    background-color: #f2f2f2;
    display: none;
    position: absolute;
    top:20px; right: -1px;
    width: 100%;
    border: 1px solid #6d6d6d;
    border-top: none;
}

li.expanded div.expandable-items {
    display: block;
}

li.expanded ul {
    list-style: none;
}

li.expanded li {
    float:none !important;
    border:0;
    height: 20px;
    line-height: 20px;
    width: 160px;
}

li.expanded li span,
li.expanded li a {
    padding: 6px;
}

/* End of header */

/* Anonymous header */

.anonymous #header {
    background: #333 url('img/header.png') no-repeat center top;
    height: 60px;
    width:100%;
    min-width: 980px;
}

    .anonymous #header #header-inner {
        width: 940px;
        height: 60px;
        padding: 10px 20px 0;
        margin: auto;
    }

    .anonymous #header #header-inner #logo {
        display: inline;
        float: none;
        width: auto;
        padding: 0;
    }

    .anonymous #header #slogan {
        color: #ff9900;
        font-size: 16px;
        display: inline;
        padding-left: 5px;
        font-weight: normal;
    }

    .anonymous #header ul#nav {
        margin-left: 130px;
        display: inline;
    }

    .anonymous #header ul#nav li {
        color: #fff;
        font-size: 13px;
        display: inline;
        margin: 0px 10px;
    }

    .anonymous #header ul#nav a {
        text-decoration: none;
        color: #fff;
    }

    .anonymous #header ul#nav a:hover {
        color: #ff9900;
    }

    .anonymous #header ul#nav #login-link {
        font-weight: bold;
    }

/* Content container.
 */

#layout-wrap {
    background: #fff;
    border: solid 1px #bbb;
    border-top: none;
    width: 980px;
    margin: 0 auto;
}

#layout-wrap #main-content {
    float: left;
    width: 980px;
    padding: 0;
}

/* Left sidebar.
 */

#layout-wrap.one-sidebar #main-content {
    width: 800px;
    margin-left: 180px;
    margin-right: -980px;
    border-left: 1px solid #eeeeee;
}

#layout-wrap #first-sidebar {
    display: none; /* so you don't forget to add .one-sidebar */
}

#layout-wrap.one-sidebar #first-sidebar,
#layout-wrap.two-sidebars #first-sidebar {
    display: block;
    float: left;
    width: 180px;
    margin-left: -1px;
    margin-right: -180px;
    border-right: 1px solid #eeeeee;
    padding: 0;
}

/* Right sidebar.
 */

#layout-wrap #second-sidebar {
    display: none; /* so you don't forget to add .two-sidebars */
}

#layout-wrap.two-sidebars #main-content {
    width: 600px;
    margin-left: 180px;
    margin-right: -980px;
    border-left: 1px solid #eeeeee;
}

#layout-wrap.two-sidebars #second-sidebar {
    display: block;
    float: left;
    width: 200px;
    margin-left: 780px;
    margin-right: -980px;
    padding: 0;
}

#second-sidebar .portlet {
    width: 175px;
}

/* Content paddings */

.content-inner {
    padding: 20px 15px 20px 20px;
}

.plain .content-inner {
    padding: 20px 65px;
}

.sidebar-inner {
    padding: 20px 7px;
    overflow: hidden;
}

#first-sidebar .sidebar-inner {
    padding-left: 12px;
}
