table.group-type-choice {
    width: 950px;
    padding: 2em;
}

table.group-type-choice th {
    text-align: left;
    padding: 1em;
}

table.group-type-choice p.point {
    padding: 0.5em;
}

table.group-type-choice td.button {
    text-align: center;
    padding: 1em;
}


#CreatePubliCGroupLeft input[type=checkbox] {
    width: 1em !important;
}
#CreatePubliCGroupLeft input[type=radio] {
    width: 1em !important;
}
#CreatePubliCGroupLeft label.checkbox {
    display: block;
}
#CreatePubliCGroupLeft label.checkbox span.labelText {
    display: inline !important;
    width: 300px !important;
}

/*************************************************************************
 *************************************************************************

    FILES SECTION

    Moved from files.css

 *************************************************************************
**************************************************************************/
/* files section */
div.section h2 {
  color: black;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #ded8d8;
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 5px;
}

div.section h2.click {
  cursor: pointer;
}

.root_folder {
  margin-top: 5px;
}

div.area_size {
  font-size: 12px;
  color: #808080;
  float: right;
}

img.area_size_points {
  margin-top: 5px;
  float: right;
}

span.unlimited_size {
  color: #808080;
  float: right;
  font-size: 12px;
  padding-top: 7px;
}

/* expanding section headings  */
.click2show h2.click .cont {
  padding-right: 15px;
  background: white url("../images/details/arrow_expand_down.png") right center no-repeat;
}

.click2show.open h2.click .cont {
  padding-right: 15px;
  background: white url("../images/details/arrow_expand_right.png") right center no-repeat;
}

.section h2 .comment {
  font-size: 12px;
  font-weight: normal;
}
/* end expanding section headings */

/* files section controls */
div.section div.controls label {
  color: #666;
  font-size: 12px;
  vertical-align: middle;
}

div.section div.controls .new-folder-name {
  margin-left: 5px;
  vertical-align: top;
  font-size: 12px;
}

div.section div.controls div.file_upload,
div.section div.controls div.no_upload,
div.section div.controls div.single_upload {
  float: left;
  margin: 0;
  margin-right: 5px;
  height: 20px;
  z-index: 10000;
  width: 150px;
  background: white;
}

div.upload_forbidden {
  clear: left;
  margin-top: 3px;
  background: #f2f2f2 url("../images/details/icon_exclamation.png") 5px center no-repeat;
  padding: 2px 0 2px 15px;
  font-size: 12px;
  color: #535353;
}

div.section div.controls div.single_upload .target_item {
  height: 19px;
  margin-right: -20px;
}

div.section div.controls div.single_upload .target_item div {
  height: 17px;
  line-height: 17px;
}

div.section div.controls div.file_upload div.file_upload_dropdown {
  position: absolute;
  width: 150px;
}
/* end controls section */

/* files */
ul.folder {
  padding: 0;
}

li.message {
  list-style-type: none;
}

li.file {
  line-height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 3px 0;
}

li.file img.drag-target {
  cursor: move;
  vertical-align: middle;
}

li.file a {
  cursor: pointer;
}

li.file .file_name {
  color: #666;
}

li.file .size,
li.file .date {
  font-size: 0.8em;
  color: #666;
}

li.file .author {
  font-size: 0.85em;
}

li.file img.restore_button,
li.file img.rename_button,
li.file img.flag_button,
li.file img.delete_button {
  vertical-align: middle;
  cursor: pointer;
}

/* end files */

/* folders */
.folder_file_area h4 {
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0 0 25px;
  margin: 3px 0;
  background: url("../images/details/icon_folder.png") left center no-repeat;
}

.folder_file_area h4.trash_heading {
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0 0 25px;
  margin: 3px 0;
  background: url("../images/details/icon_trash_folder.png") left center no-repeat;
}

.folder_file_area h4 .delete_folder_button {
  font-size: 0.8em;
  vertical-align: top;
}

.subfolder {
  margin-top: 10px;
}

.subfolder .folder {
  padding-left: 25px;
}

/* end folders */

/* upload messages */
div.file_upload_progress {
  padding: 5px;
}

div.file_upload_progress div span {
  padding-left: 1em;
}

div.file_upload_progress div {
  padding-left: 25px;
  background: url("../images/details/icon_progress.gif") left center no-repeat;
  color: #666;
}

div.file_upload_progress div.done {
  background: url("../images/details/icon_done.png") left center no-repeat;
}

div.file_upload_progress div.failed {
  background: url("../images/details/icon_fail.png") left center no-repeat;
}


/* misc */

.section .container {
  padding-left: 20px;
  margin-bottom: 15px;
}

.file_rename_input_decorator {
  display:-moz-inline-box;
  display:inline-block;
  padding: 0;
  padding-right: 3px;
  background: white url("../images/borders/rename_file.png") right center no-repeat;
}

.file_rename_input {
  font-size: 12px;
  width: 190px;
  height: 20px;
  line-height: 21px;
  vertical-align: center;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 2px 0 0 7px;
  background: white url("../images/borders/rename_file.png") left center no-repeat;
} /* no left/right padding here please */

.subfolder H4.click {
  cursor: pointer;
}

.section .click2show h4.click .cont {
  padding-right: 15px;
  background: white url("../images/details/arrow_expand_right.png") right center no-repeat;
}

.section .click2show.open h4.click .cont {
  padding-right: 15px;
  background: white url("../images/details/arrow_expand_down.png") right center no-repeat;
}

/*************************************************************************
    END OF FILES SECTION
**************************************************************************/

/*************************************************************************
 *************************************************************************

    UPLOAD DROPDOWN SECTION

 *************************************************************************
**************************************************************************/
/* upload drop down (group files portlet, files view) */
div.upload_dropdown,
div.single_upload {
  width: 150px;
}

div.upload_dropdown .button,
div.single_upload .button {
  height: 19px;
  background: transparent url("../images/file_dropdown.png") left center no-repeat;
  padding: 0;
  padding-left: 4px;
  color: #333333;
}

div.upload_dropdown .button div.inner,
div.single_upload .button div.inner {
  height: 19px;
  background: transparent url("../images/file_dropdown.png") right center no-repeat;
  padding: 0;
  padding-right: 20px;
  margin: 0;
  cursor: pointer;
}

div.single_upload .button div.inner {
  background: transparent url("../images/file_dropdown_single.png") right center no-repeat;
}

div.upload_dropdown .target_item {
  height: 20px;
  background: transparent url("../images/file_dropdown_block.png") 0 -20px no-repeat;
  padding: 0;
  padding-left: 25px;
  margin: 0;
  color: #d45500;
}

div.upload_dropdown .target_item .target.hover {
  text-decoration: underline;
}

div.upload_dropdown .target_item div {
  height: 20px;
  line-height: 20px;
  background: transparent url("../images/file_dropdown_block.png") right -20px no-repeat;
  padding: 0;
  margin: 0;
}

div.upload_dropdown .target_item.first {
  background: transparent url("../images/file_dropdown_block.png") left 0 no-repeat;
}

div.upload_dropdown .target_item.first div {
  background: transparent url("../images/file_dropdown_block.png") right 0 no-repeat;
}

div.upload_dropdown .target_item.last {
  background: transparent url("../images/file_dropdown_block.png") left -40px no-repeat;
}

div.upload_dropdown .target_item.last div {
  background: transparent url("../images/file_dropdown_block.png") right -40px no-repeat;
}
/*************************************************************************
    END OF UPLOAD DROPDOWN SECTION
**************************************************************************/

/*************************************************************************

    MISC

**************************************************************************/

.clear-left, .clear-right {
  height: 0;
  margin: 0;
  padding: 0;
  display: block;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.click2show .show {
  display: none;
}

.clickable {
   cursor: pointer;
}

#supporter_list li {
  list-style-type: none;
  list-style-image: none;
  padding-left: 15px;
  background: white url("../images/details/icon_user_small.png") left center no-repeat;
}
