table.group-type-choice {
    width: 950px;
    padding: 2em;
}

table.group-type-choice th {
    text-align: left;
    padding: 1em;
}

table.group-type-choice p.point {
    padding: 0.5em;
}

table.group-type-choice td.button {
    text-align: center;
    padding: 1em;
}


#CreatePubliCGroupLeft input[type=checkbox] {
    width: 1em !important;
}
#CreatePubliCGroupLeft input[type=radio] {
    width: 1em !important;
}
#CreatePubliCGroupLeft label.checkbox {
    display: block;
}
#CreatePubliCGroupLeft label.checkbox span.labelText {
    display: inline !important;
    width: 300px !important;
}
