/*** UTUTI.COM CSS ***/

/* Login form */
#login_form label {
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}


#login_form label .labelText {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

#login_form label .textField {
    display: inline-block;
    padding-right: 5px;
    position: relative;
    vertical-align: top;
}

/* End Login form */
