/* Common styles */
* {
        border: 0;
        margin: 0;
        padding: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
}
      .push {
          height: 70px;
      }
html, body {
        height: 100%;
}
body {
        background: #ffffff url('img/body_bg.gif') repeat-x top;
        color: #333333;
        font: 13px normal Arial,Helvetica,sans-serif;
}
body.noMenu {
        background-image: url('img/body_bg_nomenu.gif');
}
#widthLimiter {
        background: url('img/header_bg.gif') no-repeat top;
        width: 980px;
        margin: 0 auto;
        position: relative;
        padding-top: 109px;
}
body.noMenu #widthLimiter {
        padding-top: 81px;
}
a {
        color: #d45500;
        text-decoration: none;
}
a:hover {
        color: #ff7901;
        text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
        font-family: Arial,Helvetica,sans-serif;
        font-weight: normal;
}
.a11y {
        display: none;
}
.green{
color:#668000;
}
.bold{
font-weight:bold;
}

/* Form controls */
span.error-message {
        color: red;
}
.textField {
        display: inline-block;
        padding-right: 5px;
        position: relative;
        vertical-align: top;
        *display: inline; /* IE7 */
        *zoom: 1; /* IE7 */
}

        .textField .overlay {
          position: absolute;
          left: 5px;
          top: 2px;
          bottom: 2px;
          color: #8c8c8c;
          z-index: 100;
        }

        .textField input, .textField textarea {
                background: url('img/inputs_bg.png') no-repeat left top;
                height: 18px;
                padding-top: 2px;
                line-height: 18px;
                padding-left: 5px;
        }
        .textField textarea{
        background: url('img/textarea_bg.png') no-repeat left top;
        height: 90px;
        }
        .textField .edge, .textField .edgeTextArea {
                background: url('img/inputs_bg.png') no-repeat right top;
                height: 20px;
                position: absolute;
                right: 0;
                top: 0;
                width: 5px;
                _top: 1px; /* IE6 */
        }
        .textField .edgeTextArea {
                background: url('img/textarea_bg.png') no-repeat right top;
                height: 90px;
        }
        .textFieldBig input {
                background-position: left -30px;
                height: 30px;
                line-height: 30px;
                font-size: 18px;
        }
        .textFieldBig .edge {
                background-position: right -30px;
                height: 30px;
        }
.button {
        display: inline-block;
        padding-right: 10px;
        position: relative;
        vertical-align: top;
        *display: inline; /* IE7 */
        *zoom: 1; /* IE7 */
}
        .button button {
                background: url('img/buttons_bg.png') no-repeat left top;
                box-sizing: border-box;
                color: #333333;
                font: 12px normal Arial,Helvetica,sans-serif;
                height: 24px;
                padding-bottom: 6px;
                padding-left: 9px;
                padding-top: 4px;
                text-align: center;
        }
        .buttonplus button {
                background: url('img/buttons_bg_plus.png') no-repeat left top;
                padding-left: 35px;
        }
        .button .edge {
                background: url('img/buttons_bg.png') no-repeat right top;
                height: 24px;
                position: absolute;
                right: 0;
                top: 0;
                width: 10px;
        }
        .buttonplus .edge {
                background: url('img/buttons_bg_plus.png') no-repeat right top;
        }
        .buttonBig button {
                background-position: left -30px;
                font-size: 16px;
                font-weight: bold;
                height: 30px;
        }
        .buttonBig .edge {
                background-position: right -30px;
                height: 30px;
        }
        .buttonHuge button {
                background-position: left -70px;
                font-size: 16px;
                font-weight: bold;
                height: 38px;
        }
        .buttonHugePlus button {
                background-position: left top;
        }
        .buttonHuge .edge {
                background-position: right -70px;
                height: 38px;
        }
        .buttonHugePlus .edge {
                background-position: right top;
        }

/* Header */
#siteName a {
        background: url('img/site_logo.gif') no-repeat left;
        display: block;
        height: 68px;   
        left: 0;
        overflow: hidden;
        padding-left: 150px;
        position: absolute;
        top: 4px;
        width: 0;
}
#socialLinks {
        display: block;
        left: 295px;
        list-style: none;
        position: absolute;
        top: 10px;
}
        #socialLinks li {
                display: inline-block;
                margin-right: 10px;
                vertical-align: top;
                *display: inline; /* IE7 */
                *zoom: 1; /* IE7 */
        }
        #socialLinks a {
                display: block;
                height: 0;
                overflow: hidden;
                padding-top: 33px;
                width: 33px;
        }
        #socialLinks #blogLink a {
                background-image: url('img/social/ublog_32.png');
                width: 57px;
        }
        #socialLinks #twitterLink a{
                background-image: url('img/social/twitter_32.png');
        }
        #socialLinks #facebookLink a {
                background-image: url('img/social/facebook_32.png');
        }
#loginForm {
        position: absolute;
        right: 0;
        text-align: right;
        top: 8px;
}
        #loginForm label {
                margin-left: 5px;
        }
        #loginForm .button {
                top: -1px;
        }
        #loginForm #rememberMe {
                display: inline-block;
                margin-bottom: 4px;
                margin-top: 4px;
        }
#searchForm {
        background: url('img/portlet_search_bg.gif');
        height: 22px;
        padding: 13px;
        position: absolute;
        right: 0;
        top: 17px;
        width: 276px;
}
        #searchForm input {
                width: 200px;
        }
        #searchForm .button {
                margin-left: 5px;
                margin-top: -1px;
        }
        #searchForm button {
                *width: 50px; /* IE7 */
        }
#mainMenu {
        color: #666666
        display: block;
        font-size: 13px;
        font-weight: bold;
        height: 22px;
        left: 0;
        line-height: 22px;
        list-style: none;
        position: absolute;
        top: 84px;
}
        #mainMenu li {
                background: #e6e6e6;
                display: block;
                float: left;
                margin-right: 3px;
                text-align: center;
                width: 105px;
        }
        #mainMenu li a {
                color: #666666;
        }
        #mainMenu li.expandable a {
                background: url('img/icons/arrow_expand_15.png') no-repeat right;
                padding-right: 20px;
        }
        #mainMenu li a:hover {
                color: #333333;
                text-decoration: none
        }
#userMenu {
        display: block;
        font-size: 13px;
        height: 22px;
        line-height: 22px;
        list-style: none;
        position: absolute;
        right: 5px;
        top: 84px;
}
        #userMenu li {
                display: inline-block;
                margin-left: 15px;
                *display: inline; /* IE7 */
                *zoom: 1; /* IE7 */
        }
        #userMenu li#checkMail {
                font-weight: bold;
        }
        #userMenu li#profileInfo {
                background: url('img/icons/user_10.png') no-repeat left;
        }
        #userMenu li#profileInfo a {
                background: url('img/icons/arrow_expand_15.png') no-repeat right;
                color: #666666;
                padding-left: 15px;
                padding-right: 20px;
        }

/* Main Content block */
#mainContent, #CreatePubliCGroupLeft {
        display: inline-block;
        margin: 20px 40px 0 0;
        vertical-align: top;
        width: 640px;
        *display: inline; /* IE7 */
        *zoom: 1; /* IE7 */
}

#CreatePubliCGroupLeft {
        width: 480px;
        border-right: 1px solid #e9e6e6;
        margin: 20px 40px 30px 0;
        
}
        .pageTitle {
                color: #333333;
                font-size: 22px;
        }
        .moduleMenu {
                display: block;
                background: #f8f8f8 url('img/module_menu_bg.png') repeat-x bottom;
                height: 22px;
                line-height: 22px;
                list-style: none;
                margin-top: 5px;
                padding-left: 7px;
                padding-right: 7px;
                padding-top: 2px;
                text-transform: uppercase;
                *zoom: 1; /* IE7 */
        }
        .moduleMenu li {
                display: inline-block;
                vertical-align: top;
                *display: inline; /* IE7 */
                *zoom: 1; /* IE7 */
        }
        .moduleMenu li a {
                display: block;
                padding-left: 15px;
                padding-right: 15px;
                position: relative;
                *height: 22px; /* IE7 */
                _display: inline; /* IE6 */
                _zoom: 1; /* IE6 */
        }
        .moduleMenu li.current a {
                background: url('img/module_menu_current_item_bg.png') no-repeat left;
                color: #666666;
                margin-right: 5px;
                padding-right: 10px
        }
                .moduleMenu li.current .edge {
                        background: url('img/module_menu_current_item_bg.png') no-repeat right;
                        display: block;
                        height: 22px;
                        position: absolute;
                        right: -5px;
                        top: 0;
                        width: 5px;
                }
        .moduleMenu li a:hover {
                text-decoration: none;
        }
/* Right sidebar */
#aside, #CreatePubliCGroupRight {
        display: inline-block;
        margin-top: 15px;
        vertical-align: top;
        width: 300px;
        *display: inline; /* IE7 */
        *zoom: 1; /* IE7 */
}
#CreatePubliCGroupRight{
        width: 410px;
}
#CreatePubliCGroupRight ul,
        #CreatePubliCGroupRight ul {
                list-style: none;
                margin-top: 15px;
        }
        #CreatePubliCGroupRight ul li {
                background: url('img/icons/tick_big.png') no-repeat 2px 11px;
                padding: 10px 0 5px 25px;
                margin:0 0 0 20px;
                font-size: 14px;
                font-weight:500;

        }

/* CreatePubliCGroupLeft forms*/
#CreatePubliCGroupLeft

#CreatePubliCGroupLeft form {
                margin-top: 50px;
                width:90%;
        }
        #CreatePubliCGroupLeft label {

                font-size: 12px;
                margin: 7px 0 0 15px;
                width: 180px;
        }
                
        #CreatePubliCGroupLeft label .labelText {
                display: block;
        }
    #CreatePubliCGroupLeft label input {
                width: 270px;
                margin: 0 0 10px 0;
        }
        #CreatePubliCGroupLeft label span.address{
                color:#666;
                font-size:14px;
                margin: 0 5px 0 -15px;
                width:140px;
                display: inline;        
        }
        #CreatePubliCGroupLeft input.address{
        
        width:142px;
        }
        #CreatePubliCGroupLeft label.button {
                margin: 25px 0 0 0;
                width: 105px;
        }
        #CreatePubliCGroupLeft label.buttonHuge {
                display: block;
        }
        #CreatePubliCGroupLeft label.button button {
                width: 105px;
        }

/* Footer */
#footer {
        background: #f5f5f5;
        border: 2px solid #e9e6e6;
        font-size: 11px;
        padding: 5px 5px 3px 5px;
        text-align: center;
        width: 980px;
        margin: 0 auto 10px;
}
        #footer ul {
                display: block;
                font-size: 10px;
                list-style: none;
                margin-top: 5px;
        }
        #footer li {
                background: url('img/footer_link_border.png') no-repeat left;
                display: inline;
                padding: 0 5px 0 6px;
        }
        #footer li:first-child {
                background: transparent;
        }

/* Portlets */
.portlet {
        background-repeat: no-repeat;
        border-left: 1px solid #ded8d8;
        border-right: 1px solid #ded8d8;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
        overflow: hidden;
        padding: 5px 10px;
        position: relative;
        _margin-bottom: 15px; /* IE6 */
        _margin-top: 15px; /* IE6 */
        _padding: 10px; /* IE6 */
        _border: 1px solid #ded8d8; /* IE6 */
}
        .portlet .ctl,
        .portlet .ctr,
        .portlet .cbl,
        .portlet .cbr {
                background-image: url('img/portlets_bg.png');
                background-repeat: no-repeat;
                display: block;
                font-size: 2px;
                height: 5px;
                position: absolute;
                _display: none; /* IE6 */
        }
        .portlet .ctl {
                background-position: left top;
                left: -1px;
                right: 4px;
                top: -5px;
                _width: 100%; /* IE6 */
        }
        .portlet .ctr {
                background-position: right top;
                right: -1px;
                top: -5px;
                width: 5px;
        }
        .portlet .cbl {
                background-position: left -5px;
                bottom: -5px;
                left: -1px;
                right: 4px;
        }
        .portlet .cbr {
                background-position: right -5px;
                bottom: -5px;
                right: -1px;
                width: 5px;
        }
.portletSmall { background-color: #f9f9f9; }
        .portletSmall .ctl { background-position: left top;     }
        .portletSmall .ctr { background-position: right top; }
        .portletSmall .cbl { background-position: left -5px; }
        .portletSmall .cbr { background-position: right -5px; }
.portletTitle { font-size: 16px; }

.portletSetLocation {
        background-image: url('img/icons/university_41.png');
        background-position: 10px 5px;
        height: 70px;
        padding-left: 75px;
}
        .portletSetLocation .label {
                display: inline-block;
                margin-right: 10px;
                margin-top: 5px;
                vertical-align: bottom;
                width: 200px;
        }
        .portletSetLocation .button {
                vertical-align: bottom;
        }
        .portletSetLocation input {
                width: 190px;
        }

/* Home Page Specials – could be moved into a separate file */
#homeSearchNotesBlock,
#homeRegisterBlock,
#homeCreateGroupBlock {
        background: url('img/homepage_pane2_bg.jpg') no-repeat bottom;
        display: inline-block;
        height: 420px;
        margin-left: 8px;
        margin-right: 7px;
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
        vertical-align: top;
        position: relative;
        width: 261px;
        *display: inline; /* IE7 */
        *zoom: 1; /* IE7 */
}
        #homeSearchNotesBlock h2,
        #homeRegisterBlock h2,
        #homeCreateGroupBlock h2 {
                color: #808080;
                font-size: 25px;
                font-weight: bold;
                text-align: center;
        }
        #homeSearchNotesBlock p,
        #homeCreateGroupBlock p {
                color: #666666;
                font-size: 15px;
                font-weight: bold;
                line-height: 20px;
                margin-top: 210px;
        }
        #homeSearchNotesBlock ul,
        #CreatePubliCGroupLeft ul,
        #homeCreateGroupBlock ul {
                font-size: 13px;
                line-height: 28px;
                list-style: none;
                margin-top: 10px;
        }
        #CreatePubliCGroupLeft ul {
                border-top: 1px solid #e9e6e6;
                border-bottom: 1px solid #e9e6e6;
                text-align: center;
                width:430px;
        }
#homeSearchNotesBlock {
        background-image: url('img/homepage_pane1_bg.jpg');
}
        #homeSearchNotesBlock ul li {
                background: url('img/icons/tick_10.png') no-repeat 2px 9px;
                padding-left: 15px;
        }
        #CreatePubliCGroupLeft ul li {
                list-style-image: url('img/icons/tick_10.png');
                margin: 10px auto 10px 0;
        }
        #homeSearchNotesBlock form {
                margin-top: 10px;
        }
        #homeSearchNotesBlock input {
                width: 145px;
                *width: 130px; /* IE7 */
        }
        #homeSearchNotesBlock .button {
                margin-left: 5px;
        }
#homeRegisterBlock {}
        #homeRegisterBlock form {
                margin-top: 50px;
        }
        #homeRegisterBlock #registrationForm.shown form {
                margin-top: 0;
        }
        #homeRegisterBlock label {
                display: block;
                font-size: 12px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 7px;
                width: 180px;
        }
        #homeRegisterBlock label .labelText {
                display: block;
        }
        #homeRegisterBlock label input {
                width: 170px;
        }
        #homeRegisterBlock label#agreeWithTOC {
                font-size: 10px;
                margin-top: 10px;
        }
        #homeRegisterBlock label#agreeWithTOC input {
                width: auto;
        }
        #homeRegisterBlock label.button {
                margin-top: 15px;
                width: 105px;
        }
        #homeRegisterBlock label.button button {
                width: 105px;
        }
        #homeRegisterBlock #registrationTeaser {
            padding-top: 20px;
            text-align: center;
        }
        #homeRegisterBlock #registrationTeaser img {
            margin-bottom: 60px;
        }
        #homeRegisterBlock .homeRegisterStep {
            position: absolute;
            bottom: 20px;
            width: 261px;
        }
        #homeRegisterBlock .homeRegisterStep label {
            margin: 0 auto;
        }

#homeCreateGroupBlock {
        background-image: url('img/homepage_pane3_bg.jpg');
}
        #homeCreateGroupBlock li {
                background-position: 5px center;
                background-repeat: no-repeat;
                padding-left: 30px;
        }
        #homeCreateGroupBlock label {
                display: block;
                font-size: 12px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 7px;
                width: 124px;
        }

#homePopularSubjects,
#homeActiveUniversities,
#homeActiveGroups {
        border-left: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;
        display: inline-block;
        margin-bottom: 45px;
        margin-top: 40px;
        padding: 0 20px 0 30px;
        position: relative;
        vertical-align: top;
        width: 298px;
        *display: inline; /* IE7 */
        *zoom: 1; /* IE7 */
}
        #homePopularSubjects h2,
        #homeActiveUniversities h2,
        #homeActiveGroups h2 {
                color: #666666;
                font: bold 15px Arial,Helvetica,sans-serif;
                left: 30px;
                position: absolute;
                text-transform: uppercase;
                top: -20px;
        }
        #homePopularSubjects ul,
        #homeActiveUniversities ul,
        #homeActiveGroups ul {
                display: block;
                list-style: none;
        }
        #homePopularSubjects li,
        #homeActiveUniversities li,
        #homeActiveGroups li {
                display: block;
                margin-top: 15px;
                padding-left: 30px;
                *zoom: 1; /* IE7 */
        }
        #homePopularSubjects dl,
        #homeActiveUniversities dl,
        #homeActiveGroups dl,
        #homePopularSubjects dt,
        #homeActiveUniversities dt,
        #homeActiveGroups dt,
        #homePopularSubjects dd,
        #homeActiveUniversities dd,
        #homeActiveGroups dd {
                display: block;
        }
#homePopularSubjects {
        border-left: none;
        margin-right: -1px;
        width: 280px;
}
        #homePopularSubjects li {
                background: url('img/icons/subject_gray_18.png') no-repeat 3px top;
        }
        #homePopularSubjects dt {
                font-size: 15px;
        }
        #homePopularSubjects dd {
                background-position: left;
                background-repeat: no-repeat;
                font-size: 11px;
                display: inline-block;
                margin-right: 10px;
                margin-top: 2px;
                padding-left: 18px;
                *display: inline;
        }
        #homePopularSubjects dd.files {
                background-image: url('img/icons/files_13.png');
        }
        #homePopularSubjects dd.pages {
                background-image: url('img/icons/pages_13.png');
        }
        #homePopularSubjects dd.watchedBy {
                background-image: url('img/icons/watching_13.png');
                margin-right: 0;
        }
#homeActiveUniversities {}
        #homeActiveUniversities li {
                background: url('img/icons/university_20.png') no-repeat left top;
        }
        #homeActiveUniversities dt {
                font-size: 13px;
        }
        #homeActiveUniversities dd {
                color: #666666;
                margin-top: 2px;
        }
        #homeActiveUniversities .more {
                margin-top: 20px;
                text-align: right;
        }
        #homeActiveUniversities .more a {
                background: url('img/icons/arrow_more_right_13.png') no-repeat right;
                padding-right: 20px;
        }
#homeActiveGroups {
        border-right: none;
        margin-left: -1px;
        width: 250px;
}
        #homeActiveGroups li {
                background: url('img/icons/group_gray_21.png') no-repeat left top;
        }
        #homeActiveGroups dt {
                font-size: 15px;
        }
        #homeActiveGroups dd {
                color: #668000;
                margin-top: 2px;
        }
        #homeActiveGroups dd a {
                color: #668000;
        }
/* misc styles */
.hidden {
    display: none;
}
