/* This is the style file for portlet styles only.
 */

#share-portlet-content { }

    #share-portlet-content ul#share-portlet-action-list { }

        #share-portlet-content ul#share-portlet-action-list li {
            list-style: none;
            padding: 5px 5px 5px 20px;
            background-repeat: no-repeat;
            background-position: left center;
        }

        #share-portlet-content ul#share-portlet-action-list li#facebook-share {
            background-image: url(img/social/facebook_16.png);
        }

        #share-portlet-content ul#share-portlet-action-list li#email-share {
            background-image: url(img/social/email_16.png);
        }

    #share-portlet-content #email-share-dialog {
        display: none;
    }

        /* dialog pops out of #share-portlet-content */
        #email-share-dialog #feedback-message {
            display: none;
            color: #D45500;
            font-weight: bold;
            text-align: center;
        }

        #email-share-dialog.email-sent #feedback-message {
            display: block;
        }

        #email-share-dialog.email-sent form {
            display: none;
        }


