/* This is the style file for portlet styles only.
 */

.portlet {
    background-color: white !important;
    padding-bottom: 7px;
    width: 165px;
    font-size: 11px;
}

    .portlet .portlet-inner {
        padding-bottom: 7px;
        border-bottom: 1px solid #eeeeee;
    }

#user-information-portlet { }

    #user-information-portlet .user-logo {
        float: left;
        margin-top: 5px;
    }

    #user-information-portlet .user-fullname {
        margin-left: 70px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
    }

    #user-information-portlet .edit-profile-link {
        margin-left: 70px;
    }

#user-menu-portlet { }

    #user-menu-portlet ul {
        list-style: none;
    }

#share-portlet-content { }

    #share-portlet-content ul#share-portlet-action-list { }

        #share-portlet-content ul#share-portlet-action-list li {
            list-style: none;
            padding: 5px 5px 5px 20px;
            background-repeat: no-repeat;
            background-position: left center;
        }

        #share-portlet-content ul#share-portlet-action-list li#facebook-share {
            background-image: url(img/social/facebook_16.png);
        }

        #share-portlet-content ul#share-portlet-action-list li#email-share {
            background-image: url(img/social/email_16.png);
        }

    #share-portlet-content #email-share-dialog {
        display: none;
    }

        /* dialog pops out of #share-portlet-content */
        #email-share-dialog #feedback-message {
            display: none;
            color: #D45500;
            font-weight: bold;
            text-align: center;
        }

        #email-share-dialog.email-sent #feedback-message {
            display: block;
        }

        #email-share-dialog.email-sent form {
            display: none;
        }

#user-groups-portlet-content {  }

    #user-groups-portlet-content ul,
    #user-groups-portlet-content li {
        list-style-type: none;
    }

    #user-groups-portlet-content .group-listing-item {
        clear: left;
        padding: 5px 0 5px 30px;
        border-bottom: 1px solid #ddd;
    }

    #user-groups-portlet-content .group-title,
    #user-groups-portlet-content .member-count {
        display: inline;
    }

    #user-groups-portlet-content .group-listing-item img {
        float: left;
        margin-right: 5px;
        margin-left: -30px;
    }

    #user-groups-portlet-content .footer {
        padding-top: 5px;
    }

    #user-groups-portlet-content .footer .more-link {
        float: right;
    }
    #user-groups-portlet-content .footer .new-group {
        float: left;
    }
    #user-groups-portlet-content .footer .more-link,
    #user-groups-portlet-content .footer .tooltip {
        padding-top: 5px;
    }

#ubooks-portlet-content {
    padding-left: 135px;
    min-height: 115px;
    background: url(/images/bunners/ubooks.png) no-repeat 5px 5px;
}

    #ubooks-portlet-content p#virtual-book-market {
        margin-top: 10px;
        color: black;
        font-size: 14px;
        line-height: 14px;
    }

    #ubooks-portlet-content p#virtual-book-market a,
    #ubooks-portlet-content p#virtual-book-market a:hover,
    #ubooks-portlet-content p#virtual-book-market a:active {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    #ubooks-portlet-content p#here-you-can-buy {
        margin-top:10px;
        font-size: 10px;
        color: #888;
    }

    #ubooks-portlet-content p#ubooks-link {
        text-align: right;
    }

