/* This is the style file for portlet styles only.
 */

.portlet {
    background-color: white !important;
    padding-bottom: 7px;
    width: 165px;
    font-size: 11px;
}

    .portlet .header {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
        color: #6d6d6d;
    }

    .portlet .content {
        word-wrap: break-word;
    }

    .portlet .footer {
        margin-top: 5px;
    }

    .portlet p {
        font-size: 11px;
        margin: 5px 0px;
    }

    .portlet .portlet-inner {
        padding-bottom: 7px;
        border-bottom: 1px solid #eeeeee;
    }

    .portlet ul {
        list-style: none;
    }

    .portlet .icon-find {
        padding-left: 15px;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: url('img/icons.com/search_small.png');
        background-position: 1px center;
    }

#navigation-portlet { }

    #navigation-portlet .header {
        margin-bottom: 2px;
    }

    #navigation-portlet ul {
        position: relative;
        width: 180px; /* sidebar full width */
        left: -12px;  /* sidebar left padding */
    }

    #navigation-portlet ul li {
        margin: 0;
    }

    #navigation-portlet ul li a {
        display: block;
        margin: 0;
        padding: 3px 5px 3px 30px;
        background-position: 12px center;
        background-repeat: no-repeat;
        outline: none;
    }

    #navigation-portlet ul li.current a {
        background-color: #ddd;
        font-weight: bold;
    }

    #navigation-portlet ul li a:focus,
    #navigation-portlet ul li a:hover {
        background-color: #eee;
    }

    /* menu icons
     */
    #navigation-portlet ul li.about a {
        background-image: url('/img/icons.com/university_small_orange.png');
    }
    #navigation-portlet ul li.feed a {
        background-image: url('/img/icons.com/news_small_orange.png');
    }
    #navigation-portlet ul li.subjects a {
        background-image: url('/img/icons.com/subject_small_orange.png');
        background-position: 13px center;
    }
    #navigation-portlet ul li.groups a {
        background-image: url('/img/icons.com/group_small_orange.png');
        background-position: 13px center;
    }
    #navigation-portlet ul li.teachers a {
        background-image: url('/img/icons.com/teacher_small_orange.png');
    }

#about-ututi-portlet { }

    #about-ututi-portlet p {
        padding-right: 10px;
    }

#user-information-portlet { }

    #user-information-portlet .user-logo {
        float: left;
        margin-top: 5px;
    }

    #user-information-portlet .user-fullname {
        margin-left: 70px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
    }

    #user-information-portlet .edit-profile-link {
        margin-left: 70px;
    }

    #user-information-portlet .user-info {
        margin-top: 5px;
        padding-top: 5px;
        border-top: 1px solid #eeeeee;
    }

#user-description-portlet { }

    #user-description-portlet p {
        font-size: 10px;
    }

#about-portlet { }

    #about-portlet p {
        font-size: 10px;
    }

#todo-portlet { }

    #todo-portlet p {
        margin: 2px 0px;
    }

    #todo-portlet p.done {
        text-decoration: line-through;
        color: #666666;
    }

.item-box {
    margin-top: 10px;
}

    .item-box .item {
        float: left;
        width: 30px;
        margin: 2px 8px 0 0;
    }

    .item-box.with-titles .item {
        width: 45px;
    }

    .item-box img.item-logo {
        display: block;
    }

    .item-box .item-title {
        font-size: 10px;
        word-wrap: break-word;
    }

#invite-friends-portlet { }

    #invite-friends-portlet #invite-email-dialog,
    #invite-friends-portlet #invite-fb-dialog {
        display: none;
    }

        /* dialog pops out of #invite-friends-portlet */
        #invite-email-dialog #invitation-feedback-message {
            display: none;
            font-weight: bold;
            text-align: center;
        }

        #invite-email-dialog form input,
        #invite-email-dialog form textarea,
        #invite-email-dialog form .helpText {
            width: 300px;
        }

        #invite-email-dialog form button {
            display: block;
        }

        #invite-email-dialog.email-sent #invitation-feedback-message {
            display: block;
        }

        #invite-email-dialog.email-sent form {
            display: none;
        }

#share-portlet { }

    #share-portlet #email-share-dialog {
        display: none;
    }

        /* dialog pops out of #share-portlet */
        #email-share-dialog #feedback-message {
            display: none;
            font-weight: bold;
            text-align: center;
        }

        #email-share-dialog form input,
        #email-share-dialog form textarea,
        #email-share-dialog form .helpText {
            width: 300px;
        }

        #email-share-dialog form button {
            display: block;
        }

        #email-share-dialog.email-sent #feedback-message {
            display: block;
        }

        #email-share-dialog.email-sent form {
            display: none;
        }

#user-groups-portlet-content {  }

    #user-groups-portlet-content ul,
    #user-groups-portlet-content li {
        list-style-type: none;
    }

    #user-groups-portlet-content .group-listing-item {
        clear: left;
        padding: 5px 0 5px 30px;
        border-bottom: 1px solid #ddd;
    }

    #user-groups-portlet-content .group-title,
    #user-groups-portlet-content .member-count {
        display: inline;
    }

    #user-groups-portlet-content .group-listing-item img {
        float: left;
        margin-right: 5px;
        margin-left: -30px;
    }

    #user-groups-portlet-content .footer {
        padding-top: 5px;
    }

    #user-groups-portlet-content .footer .more-link {
        float: right;
    }
    #user-groups-portlet-content .footer .new-group {
        float: left;
    }
    #user-groups-portlet-content .footer .more-link,
    #user-groups-portlet-content .footer .tooltip {
        padding-top: 5px;
    }

#ubooks-portlet-content {
    padding-left: 135px;
    min-height: 115px;
    background: url(/images/bunners/ubooks.png) no-repeat 5px 5px;
}

    #ubooks-portlet-content p#virtual-book-market {
        margin-top: 10px;
        color: black;
        font-size: 14px;
        line-height: 14px;
    }

    #ubooks-portlet-content p#virtual-book-market a,
    #ubooks-portlet-content p#virtual-book-market a:hover,
    #ubooks-portlet-content p#virtual-book-market a:active {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    #ubooks-portlet-content p#here-you-can-buy {
        margin-top:10px;
        font-size: 10px;
        color: #888;
    }

    #ubooks-portlet-content p#ubooks-link {
        text-align: right;
    }

#location-logo-portlet { }

    #location-logo-portlet .logo-container {
        margin: 10px auto 20px auto;
        width: 140px;
    }

    #location-logo-portlet .logo-container img {
        display: block;
        margin-left: -5px; /* compensate sidebar left padding, so
                            * it looks properly centered. */
    }

#subject-information-portlet { }

    #subject-information-portlet .description {
        padding-right: 10px;
    }

    #subject-information-portlet #description-edit-link {
        float: right;
        margin-top: -10px;
    }

#subject-statistics-portlet { }

    #subject-statistics-portlet ul.statistics {
        margin-left: 20px;
    }

        #subject-statistics-portlet ul.statistics li {
            display: inline-block;
            margin-top: 0px;
            margin-right: 5px;
            min-width: 10px;    /* makes icons line up nicely in list */
            color: #3d617a;
            padding-left: 12px;
        }

#subject-related-subjects-portlet { }

    #subject-related-subjects-portlet .snippet-subject {
        margin-top: 10px;
    }

    #subject-related-subjects-portlet .snippet-subject .heading {
        font-size: 13px;
        font-weight: bold;
    }

    #subject-related-subjects-portlet .snippet-subject ul.statistics li {
        display: inline-block;
        margin-top: 0px;
        margin-right: 5px;
        min-width: 15px;    /* makes icons line up nicely in list */
        color: #3d617a;
        padding-left: 12px;
    }

#profile-page-portlet { }

    #profile-page-portlet button {
        margin: 10px 0;
    }
