
/* Fancy dropdown */
.dropdown {
  padding-right: 1px;
  position: relative;
  float: left;
}

  .dropdown .current {
    min-width: 60px;
    float: left;
    text-align: right;
  }

  .dropdown-widget label {
    font-weight: bold;
    font-size: 14px;
    float: left;
    padding-right: 10px;
    color: #666;
  }

  .dropdown span, .dropdown a, .dropdown .current {
    padding-right:24px;
    line-height: 18px;
    background-image: url("img/ico_expandable_0.gif");
    background-repeat: no-repeat;
    background-position: right 2px;
    font-size: 14px;
    color: #d45500;
    cursor:pointer;
  }

  .dropdown table.items {
    border-spacing: 0;
    border-collapse: collapse;
    z-index: 100;
    display:none;
    position:absolute;
    top: 15px;
    right: 1px;
    padding-top:1px;
    border:2px solid #CCC;
    border-width:0 2px 1px;
    background-color:#FFF;
    background-image: url("img/ico_expandable_0.gif");
    background-repeat: no-repeat;
    background-position: right -139px;
  }

  .dropdown table.items a {
    background:none !important;
    white-space: nowrap;
  }

  .dropdown.expanded table.items {
    display:block;
  }
  .dropdown.expanded table.items tr {
    height: 18px;
  }

  .dropdown.expanded td.action {
    border-bottom:1px solid #CCC;
    height: 18px;
    padding: 5px;
  }
  .dropdown.expanded, .dropdown.expanded span, .dropdown.expanded a {
    background-color:transparent !important;
    background-position:right -78px;
  }
  .dropdown.expanded .action span, .dropdown.expanded .action a {
    padding: 0 21px 0 0;
    font-size: 14px;
    font-weight:normal;
    color:#D45500 !important;
  }
  .dropdown.expanded .action a:hover {
    text-decoration:underline;
  }
